<div class="row tech-bank-filters" style="background-color: #F4F6F5; height: 4em; ">
  <div class="col-md-4 col-sm-12 col-xs-12">
    &nbsp;
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <h2 class="text-center">All Tech Articles</h2>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <button *ngIf="!checkLoginStatus()" type="button" class="buttonarticle crt-btn" data-toggle="modal"
      data-target="#createTechArticleModal" style="margin:auto;display:block;float:initial;margin-top:10px">Create Tech
      Article</button>
  </div>
</div>









<div id="techArticleFilterDiv" class="row filter-divs" *ngIf="!checkLoginStatus()">

  <div class="col-md-6">

    <input type="text" class="form-control filter-input" placeholder="Search with Name.." name="techarticledetails"
      [(ngModel)]="techArticleFilter.user_name" *ngIf="showKeyword" />


    <input type="text" class="form-control filter-input" placeholder="Search with Article Title.."
      name="techarticledetails" [(ngModel)]="techArticleFilter.title" *ngIf="showArticle" />

    <input type="text" class="form-control filter-input" placeholder="Search with Technology.."
      name="techarticledetails" [(ngModel)]="techArticleFilter.technology" *ngIf="showTechnology" />

    <input type="text" class="form-control filter-input" placeholder="Search with sub Technology.."
      name="techarticledetails" [(ngModel)]="techArticleFilter.sub_technology" *ngIf="showSubTech" />

    <input type="text" class="form-control filter-input" placeholder="Search with Author.." name="techarticledetails"
      [(ngModel)]="techArticleFilter.user_name" *ngIf="showAuthor" />

    <input type="text" class="form-control filter-input" placeholder="Search with Author.." name="techarticledetails"
      [(ngModel)]="techArticleFilter.cost" *ngIf="showCost" />

  </div>
  <div class="col-md-6">
    <div class="row m-row" style="font-size: 1rem;">
      <div class="col-4">
        <p (click)="selectKeyword()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showKeyword"></i> Keyword</p>
        <!-- <input type="checkbox" class="techBankEventCheckbox" name="keywordFilter" [(ngModel)]="keywordFilter"
          value="Keyword">&nbsp;Keyword -->
      </div>
      <div class="col-4">

        <p (click)="selectType()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showArticle"></i> Type</p>
        <!-- <input type="checkbox" name="articleTypeFilter" class="techBankEventCheckbox" [(ngModel)]="articleTypeFilter"
          value="Type">&nbsp;Type -->
      </div>
      <div class=" col-4">
        <p (click)="selectTechnology()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showTechnology"></i>Technology</p>
        <!-- <input type="checkbox" name="techFilter" class="techBankEventCheckbox" [(ngModel)]="techFilter"
          value="Technology">&nbsp;Technology -->
      </div>
      <div class=" col-4">
        <p (click)="selectSubTechnology()"> <span class="radio-btns">&nbsp;</span><span
            class="white-radio">&nbsp;</span><i class="fa fa-check" *ngIf="showSubTech"></i>SubTechnology</p>
        <!-- <input type="checkbox" name="subTechFilter" class="techBankEventCheckbox" [(ngModel)]="subTechFilter"
          value="SubTechnology">&nbsp;SubTechnology -->
      </div>
      <div class="col-4">
        <p (click)="selectAuthor()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showAuthor"></i>Author</p>
        <!-- <input type="checkbox" name="authorFilter" class="techBankEventCheckbox" [(ngModel)]="authorFilter"
          value="SubTechnology">&nbsp;Author -->
      </div>
      <div class="col-4">
        <p (click)="selectFree()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showCost"></i>Free</p>
        <!-- <input type="checkbox" name="freeFilter" class="techBankEventCheckbox" [(ngModel)]="freeFilter.cost"
          value="SubTechnology">&nbsp;Free -->
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="margin-top: 1em;">
      <!-- -->
      <div class="card card-articles" style="width: 100%;"
        *ngFor="let techarticle of ResponseData | filterBy:techArticleFilter ; let i = index;"
        [ngClass]="{'techarticleRow1' : i%2==0 } ">


        <div class="card-body">
          <div class="row">
            <div class="col-md-6 tec_lft">
              <h6 class="art-type" style="color:#33099e;">{{techarticle.article_type}}</h6>

              <b>Title</b> : {{techarticle.title}}
              <br />
              <b>Technology</b> : {{techarticle.technology}} ,
              &nbsp;&nbsp;
              <b>Sub-Technology</b> : {{techarticle.sub_technology}}
              <br />
              <b *ngIf="techarticle.article_type=='Article'">Price :
                <span style="color:#255B88">{{techarticle.cost}} rs</span>
              </b><br *ngIf="techarticle.article_type=='Article'" />
              <b> Abstract </b>: {{techarticle.abstract}}


            </div>


            <div class="col-md-3 tec_mdl">

              <img class="profilepicture" *ngIf="techarticle.profile_image!=='' || techarticle.profile_image!==null"
                [src]="file_path + techarticle.profile_image" alt="Profile Pic">
              <img class="profilepicture" *ngIf="techarticle.profile_image==''" src="../assets/images/user-dummy.png"
                alt="Profile Pic">

              <div class="">
                <h5 class="card-title" style="color:#33099e;"><span class="title-name">
                  </span><b>{{techarticle.user_name}}</b>
                  <br />
                  <span style="font-size: 0.85rem;color:rgb(22, 22, 22);"> ( {{techarticle.follow_count}} followers
                    )</span>
                </h5>
                <div class="lke-dis">
                  <button *ngIf="!checkLoginStatus() && techarticle.upCount!=='0'" class="btn btn-light buttonarticle"
                    (click)="likeArticle(techarticle.tech_article_id,techarticle.like_count,techarticle.user_id)"
                    style="display:inline">
                    {{techarticle.like_count}}
                    <img src="../assets/images/thumbsUp.png" alt="Card image cap" style="height:15px;">
                  </button>
                  &nbsp;&nbsp;

                </div>
                <br />
              </div>
            </div>

            <div class="col-md-3 tec_ryt">

              <ul *ngIf="!checkLoginStatus()" class="nav nav-pills">

                <li class="nav-item " *ngIf="techarticle.cost!='' && techarticle.article_type=='Article'">

                  <button class="nav-link btn btn-light buybutton buttonarticle" data-toggle="modal"
                    data-target="#buynowModal" (click)="buyNowModelClick(techarticle)">Buy
                    Now</button>
                </li>

                <li class="nav-item" style="margin-left:2%">
                  <button *ngIf="!checkLoginStatus() && techarticle.is_followed== 'FALSE'"
                    class="nav-link btn btn-light buttonarticle"
                    style=" margin-left: 0 !important; color: white !important;"
                    (click)="followerUpdate(techarticle.tech_article_id,'1');">Follow</button> </li>

                <li class="nav-item" style="margin-left:2%">
                  <button *ngIf="!checkLoginStatus() && techarticle.is_followed== 'TRUE'"
                    class="nav-link btn btn-light buttonarticle"
                    style=" margin-left: 0 !important; color: white !important;"
                    (click)="followerUpdate(techarticle.tech_article_id,'2');">Unfollow</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link btn btn-light commentbutton buttonarticle" data-toggle="modal"
                    data-target="#commentsModal" (click)="showTechArticleComments(techarticle)">Comments</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link btn btn-light veiwbutton buttonarticle"
                    *ngIf="techarticle.publication_link!='' &&  techarticle.article_type =='white paper' || techarticle.article_type =='Research Paper' "
                    data-toggle="modal" data-target="#buynowModal1"
                    (click)="viewTechTeachDetails(techarticle)">View/Download
                    full Article</button>
                </li>
                <li class="nav-item"
                  *ngIf="techarticle.publication_file!='' && techarticle.publication_file!=null && techarticle.article_type == 'Article'">
                  <a [href]=" file_path1 + techarticle.publication_file" target="_blank" download>
                    <button class="nav-link btn btn-light veiwbutton buttonarticle" data-toggle="modal">View/Download
                      full Article</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <br />
        </div>

        <div id="buynowModal1" class="modal fade" role="dialog">
          <div class="modal-dialog createarticle1">
            <div class="col-12" style="margin-top: 1em;">
              <div class="modal-content">

                <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
                  <span style="text-align: center; color: white; width: 100%;">
                    <h4>Tech Article Details</h4>
                  </span>
                  <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
                    id="closeDetailsModal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                      <br />
                      <b>Article Type</b> : {{articletype}}
                      <br />
                      <b>Title</b> : {{articletitle}}
                      <br />
                      <b>Email</b> : {{emailaddress}}
                      <br />
                      <b>Contact Number</b> : {{contactnumber}}

                      <br />
                      <span *ngIf="showcost"> <b>Cost</b> : {{cost}}</span>

                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                      <br />

                      <b>Engineering Technology</b> : {{technologyname}}
                      <br />
                      <b>Sub-Engineering Technology</b> : {{subtechname}}
                      <br />

                      <b>Abstract</b> : <span style="text-align:justify">{{abstract}}</span>
                      <br />
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<br />

<div id="commentsModal" class="modal fade" role="dialog">
  <div class="modal-dialog createarticle1">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Article Comments</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeCommentsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="card cmnts" *ngFor="let articlecomment of articlecomments; let i = index; ">
          <div class="card-body row">

            <div class="col-md-10 col-sm-12">
              <b>Name</b> :
              {{articlecomment.user_name}}
              <br />
              <b>Comment</b> :
              <span *ngIf="!showEdit">
                {{articlecomment.comment}}</span>
              <textarea style="width: 100%;" *ngIf="showInput" [(ngModel)]="articlecomment.comment" name="comment"
                placeholder="500 Characters" maxlength="500"></textarea>
            </div>

            <div class="col-md-2 col-sm-12">
              <button *ngIf="(userid === articlecomment.user_name) && !showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEdit()">
                Edit
              </button>
              <button *ngIf="(userid === articlecomment.user_name) && showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEditDelete(articlecomment,'edit')">
                Update
              </button>
              <button *ngIf="(userid === articlecomment.user_name) && !showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEditDelete(articlecomment,'delete')">
                Delete
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body row">
            <div class="col--md-10  col-sm-12 col-xs-12">
              <textarea style="width: 100%;" [(ngModel)]="comment" placeholder="500 Characters"
                maxlength="500"></textarea>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
              <button class="btn btn-light commentbutton buttonarticle" [disabled]="comment==''"
                (click)="commentOperation()">
                Add Comment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="buynowModal" class="modal fade" role="dialog">
  <div class="modal-dialog createarticle1">

    <!-- Modal content-->
    <div class="modal-content" *ngIf="selectedTecharticle!=undefined">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Purchase Article</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeBuynowModal">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Kindly provide your contact details for purchase(Mail will be sent to Author)</h4>
        <div class="card">
          <div class="card-body row">
            <div class="col-10">
              <b>Author Name</b> :
              <br />{{selectedTecharticle.user_name}}
              <br />
              <b>Author Email</b> :
              <br />{{selectedTecharticle.contact_email}}
              <br />
              <b>Author Contact Number</b> :
              <br />{{selectedTecharticle.contact_number}}
              <br />

            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-body row">
            <div class="col-10">
              <textarea style="width: 100%;" [(ngModel)]="mailContent" placeholder="500 Characters"
                maxlength="500"></textarea>
            </div>
            <div class="col-2">
              <button class="btn btn-light" [disabled]="mailContent==''"
                style="background-color: #9A9A9A;height: 2.5em;" (click)="sendMailToAuthorForPurchase()">
                Send Mail
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>