.techBankEventCheckbox{
    
  cursor: pointer;
}

.card-header{
    background-color: #33099e;
    color: white;
}

.btn-link{
    color: white;
    font-size: 1.5rem;
    font-style: unset;
}

.cardSubHeading{
    font-size: 1.5rem; 
    color: #33099e; 
    text-decoration: underline;
}

.techarticleRow1{
    background-color: #F4F6F5;
}

.buttonarticle{
    height: 30%;
    background-color: #33099e;
    color: white;
    font-weight: bold;
}
.commentbutton{
    background-color: black; color: white !important;
    /* margin-left: -8% !important; */
}
.veiwbutton{
    background-color: #B3B3B3; color: black !important;
    /* margin-left: -8% !important; */
}
.buybutton{
    background-color: #FE9404; color: white !important;
    /* margin-left: -8% !important; */
}
.createarticle1{
    max-width : 70% !important;
}

.title-name{
    font-size: 22px;
    color: #420ba7;
}
.abstract-name{
    font-size: 20px;
    font-weight: 600;
}

.article-type{
    background: #3e0aa5;
    color: white !important;
    text-decoration: none !important;
    padding: 6px;
    font-size: 19px;
    border-radius: 4px;
}
.buttonarticle{
margin: auto;
display: block;
padding: 8px;
border: none;
cursor: pointer;
margin-top: 45px;
color: white !important;
height: 41px;
    padding: 0 11px;
    font-size: 66px;
    font-size: 17px;
    margin-top: 19px;
    border-radius: 33px;
    color: #ffff;
    background: rgba(51,9,158,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,9,158,1)), color-stop(47%, rgba(51,9,158,1)), color-stop(100%, rgba(192,39,230,1)));
    background: linear-gradient(to right, rgba(51,9,158,1) 0%, rgba(51,9,158,1) 47%, rgba(192,39,230,1) 100%);
    outline: 0px;
}

.filter-divs
{
    margin-top: 80px;
}

.tech-bank-filters h2{
color: #3e0aa5;
    margin-top: 11px;
}
.radio-btns{
background: #33099e;
width: 20%;
padding: 8px;
border-radius: 48px;
padding-top: 0px;
padding-bottom: 0px;
cursor: pointer;
}

.fa-check{
    position: absolute;
    left: 17px;
    top: 4px;
    color: white;
}

.card-articles{
    /* border: 1px solid #3e0aa5;
    margin-bottom: 15px;
    box-shadow: 5px 9px 13px -4px rgba(0, 0, 0, .3) !important;
    background-color: #33099e59;     */
    border: 1px solid #3e0aa5;
    margin-bottom: 25px;
    box-shadow: 5px 9px 13px -6px rgba(0, 0, 0, .3) !important;
    /* background-color: #400aa63b; */
}

.art-type{
    color: red;
    font-weight: 800;
    font-size: 19px;
}

@media only screen and (max-width: 768px) {
.buttonarticle{
    background: rgba(51,9,158,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,9,158,1)), color-stop(47%, rgba(51,9,158,1)), color-stop(100%, rgba(192,39,230,1)));
    background: linear-gradient(to right, rgba(51,9,158,1) 0%, rgba(51,9,158,1) 47%, rgba(192,39,230,1) 100%);
 color: white;
    border: 2px solid darksalmon;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
    /* float: right; */
    font-family: inherit;
    /* padding: 18px 45px 33px 45px !important; */
    line-height: initial;
    height: auto;
    padding: 15px!important;
    outline: none;
}
.createarticle1{
    max-width : 100% !important;
}
.checkbox1{
    margin: 14px 34px 13px 3px !important; 
}
.veiwbutton{
    padding: 15px 53px;
}
.buybutton{
    padding:15px 120px;
}
.commentbutton{
    padding:15px 115px;
}

}

@media only screen and (max-width: 320px) {
    .buttonarticle{
        font-size: small;
    }
    .threebutton{
        margin-left: 19px;
    }
    .buybutton{
        padding: 15px 100px 15px 100px;
        margin: 10px 10px 10px 0px;
    }
    .veiwbutton{
        padding: 15px 32px 15px 32px;
        margin: 10px 0px 10px 0px;
    }
    .commentbutton{
        padding:15px 95px 15px 95px;
        margin: 10px 10px 10px 0px;
    }
}

@media only screen and (max-width: 480px) {
    .createarticle1{
        max-width : 100% !important;
    }
.buttonarticle{
    font-size: small;
}
.threebutton{
    margin-left: 19px;
}
.buybutton{
    padding: 15px 100px 15px 100px;
    margin: 10px 10px 10px 0px;
}
.veiwbutton{
    padding: 15px 32px 15px 32px;
    margin: 10px 0px 10px 0px;
}
.commentbutton{
    margin: 10px auto;
    line-height: initial;
    height: auto;
    padding: 15px!important;
}
}


/****************newcode**************/
.cmnts{
    margin:4px 0px;
}
.tec_mdl{
    text-align: center;
}


  /***************mediaquaries*********/

  @media screen and (min-width: 320px) and (max-width: 567px) {
    .m-row .col-4{
        width: 50%;
        max-width: 60%;
        flex: initial;
    }
    .m-row{
        margin: 20px 30px;
    }

      .tec_ryt .buttonarticle{
        /* padding: 8px 20px 28px 20px !important; */
        margin: 4px 4px!important
      }
      .buttonarticle.crt-btn{
        /* padding: 14px 40px 32px 40px !important;        */
      }
  }
  
  @media screen and (min-width: 360px) and (max-width: 539px) {}
  
  @media screen and (min-width: 460px) and (max-width: 767px) {}
  
  @media only screen and (min-width: 540px) and (max-width: 767px) {}
  
  @media only screen and (min-width: 768px) and (max-width: 959px) {}
  
  @media only screen and (min-width: 799px) and (max-width: 960px) {}
  
  @media only screen and (min-width: 960px) and (max-width: 1023px) {}
  
  @media only screen and (min-width: 1024px) and (max-width: 1280px) {}
  
  @media only screen and (min-width: 1280px) and (max-width: 1365px) {}
  
  @media screen and (max-width: 1600px) {}