<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="margin-top: 1em;">
      <h2 class="text-center">{{title}}</h2><br />
      <div *ngIf="showTechbank">
        <div class="row">
          <p class="text-center" *ngIf="getMyTechBankDataList.length==0">No Data Available</p>
        </div>
        <div class="card card-articles" *ngFor="let techarticle of getMyTechBankDataList"
          [ngClass]="{'techarticleRow1' : i%2==0 } ">

          <div class="card-body">
            <div class="row">
              <div class="col-md-6 tec_lft">
                <h6 class="art-type" style="color:#33099e;">{{techarticle.article_type}}</h6>

                <b>Title</b> : {{techarticle.title}}
                <br />
                <b>Technology</b> : {{techarticle.technology}}
                &nbsp;&nbsp;
                <span *ngIf="techarticle.sub_technology!=null"> , <b>Sub-Technology</b> : {{techarticle.sub_technology}}
                </span><br />
                <b *ngIf="techarticle.article_type=='Article' && techarticle.cost!=''">Price :
                  <span style="color:#255B88">{{techarticle.cost}} rs</span>
                  <br /></b>
                <b> Abstract </b>: {{techarticle.abstract}}


              </div>


              <div class="col-md-3 tec_mdl">

                <!-- <img class="profilepicture" *ngIf="techarticle.profile_image!=='' || techarticle.profile_image!==null" -->
                <img class="profilepicture" [src]="file_path + techarticle.profile_image" alt="Profile Pic">
                <!-- <img class="profilepicture" *ngIf="techarticle.profile_image==''" src="../assets/images/user-dummy.png"
                alt="Profile Pic"> -->

                <div class="">
                  <h5 class="card-title" style="color:#33099e;"><span class="title-name">
                    </span><b>{{techarticle.user_name}}</b>
                    <br />
                    <span style="font-size: 0.85rem;color:rgb(22, 22, 22);"> ( {{techarticle.follow_count}} followers
                      )</span>
                  </h5>
                  <div class="lke-dis">
                    <!-- <button *ngIf="!checkLoginStatus() && techarticle.upCount!=='0'" class="btn btn-light buttonarticle"
                    (click)="likeArticle(techarticle.tech_article_id,techarticle.like_count,techarticle.user_id)"
                    style="display:inline">
                    {{techarticle.like_count}}
                    <img src="../assets/images/thumbsUp.png" alt="Card image cap" style="height:15px;">
                  </button> -->
                    &nbsp;&nbsp;

                  </div>

                </div>
              </div>

              <div class="col-md-3 tec_ryt">

                <!-- <ul *ngIf="!checkLoginStatus()" class="nav nav-pills"> -->
                <ul class="nav nav-pills">




                  <li class="nav-item">
                    <button class="nav-link btn btn-light commentbutton buttonarticle" data-toggle="modal"
                      data-target="#commentsModal" (click)="showTechArticleComments(techarticle)">Comments</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link btn btn-light veiwbutton buttonarticle"
                      *ngIf="techarticle.publication_link!='' &&  techarticle.article_type =='white paper' || techarticle.article_type =='Research Paper' "
                      data-toggle="modal" data-target="#buynowModal1"
                      (click)="viewTechTeachDetails(techarticle)">View/Download
                      full Article</button>
                  </li>
                  <li class="nav-item"
                    *ngIf="techarticle.publication_file!='' && techarticle.publication_file!=null && techarticle.article_type == 'Article'">
                    <a [href]=" file_path1 + techarticle.publication_file" target="_blank" download>
                      <button class="nav-link btn btn-light veiwbutton buttonarticle" data-toggle="modal">View/Download
                        full Article</button>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

        </div>
        <!--loop end-->
      </div>
      <!--showTechbank end-->


      <div *ngIf="showTechconnect">
        <div class="accordion" id="accordionExample" style="margin: 0em; ">
          <div class="row">
            <p class="text-center" *ngIf="getMyTechConnctData.length==0">No Data Available</p>
          </div>
          <div class="card" *ngFor="let techteach of getMyTechConnctData">
            <div class="card-header" id="teachheading{{1}}" data-toggle="" attr.data-target="#teachcollapse{{i}}"
              aria-expanded="" attr.aria-controls="teachcollapse{{i}}">
              <h5 class="mb-0">
                <button *ngIf="i!=0" class="btn btn-link collapsed" type="button">
                  Tech Teach
                </button>
                <button *ngIf="i==0" class="btn btn-link" type="button">
                  Tech Teach
                </button>
              </h5>
            </div>

            <div id="teachcollapse{{i}}" [ngClass]="{'show' : i==0}" class="" attr.aria-labelledby="teachheading{{i}}"
              data-parent="#accordionExample">
              <div class="card-body teach-bdy">
                <div class="col-12">

                  <span class="cardSubHeading crd-hdng">Tech Connect Details</span>
                  <div><b class="crd-lft">Type</b> <span class="crd-ryt">: {{techteach.tech_teach_type}}</span></div>
                  <div><b class="crd-lft">Topic</b> <span class="crd-ryt">: {{techteach.topic}}</span></div>
                  <div><b class="crd-lft">Abstract</b> <span class="crd-ryt">: {{techteach.abstract}}</span></div>
                  <div><b class="crd-lft">Technology</b> <span class="crd-ryt">: {{techteach.technology}}</span></div>
                  <div *ngIf="techteach.sub_technology!=null"><b class="crd-lft">Sub Technology</b> <span
                      class="crd-ryt">: {{techteach.sub_technology}}</span>
                    <br />
                  </div>
                  <!-- <div><b class="crd-lft">Created on</b> <span class="crd-ryt">: {{techteach.createdon}}</span></div>
        <div><b class="crd-lft">Event on</b> <span class="crd-ryt">: {{techteach.venuedate}}</span></div>
        <div><b class="crd-lft" style="font-size: 14px;">No.of People Applied</b> <span class="crd-ryt"> :
            {{techteach.registrationCount}}</span></div> -->


                  <span class="cardSubHeading crd-hdng">Industrial Expert</span>
                  <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techteach.user_name}}</span></div>
                  <div><b class="crd-lft">Company</b> <span class="crd-ryt">:
                      {{techteach.company}}</span></div>
                  <div><b class="crd-lft">Positionl</b> <span class="crd-ryt" style="font-size: 14px;">:
                      {{techteach.position}}</span></div>
                  <br />

                  <span class="cardSubHeading crd-hdng">Venue Details</span>
                  <div><b class="crd-lft">Place</b> <span class="crd-ryt">: {{techteach.place}}</span></div>
                  <div><b class="crd-lft">Address</b> <span class="crd-ryt">: {{techteach.address}}</span>
                  </div>
                  <div><b class="crd-lft" style="font-size: 13px;">City</b> <span class="crd-ryt">:
                      {{techteach.city}}</span></div>
                  <div><b class="crd-lft">Date</b> <span class="crd-ryt">: {{techteach.event_date}}</span></div>

                  <br />

                  <span class="cardSubHeading crd-hdng">Registration Details</span>

                  <div><b class="crd-lft">No. of Registration</b> <span class="crd-ryt">:
                      {{techteach.seat_capacity}}</span>
                  </div>


                </div>
              </div>

              <div class="crd-footr">
                <ul class="nav nav-pills crd-btn-dv">
                  <li class="nav-item">
                    <button class="nav-link btn btn-light  buttonarticle" (click)="viewTechTeachDetailss(techteach)"
                      data-toggle="modal" data-target="#detailsModal">View
                      Detail's</button>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <!--tech teach end-->

          <div class="tech-tlk-contnr">
            <div class="card" *ngFor="let techtalkdata of getMyTechTalktData | filter:techEventFilter; let i = index; ">
              <div class="card-header" id="talkheading{{1}}" data-toggle="" attr.data-target="#talkcollapse{{i}}"
                aria-expanded="false" attr.aria-controls="talkcollapse{{i}}">
                <h5 class="mb-0">
                  <button *ngIf="i!=0 || (i==0 && techteachdetails?.length!=0)" class="btn btn-link collapsed"
                    type="button">
                    Tech Talk
                  </button>
                  <button *ngIf="i==0 && techteachdetails?.length==0" class="btn btn-link" type="button">
                    Tech Talk
                  </button>
                </h5>
              </div>

              <div id="talkcollapse{{i}}" [ngClass]="{'show' : i==0 && techteachdetails?.length==0}" class=""
                attr.aria-labelledby="talkheading{{i}}" data-parent="#accordionExample">
                <div class="card-body talk-bdy">
                  <div class="col-12">
                    <span class="cardSubHeading crd-hdng">Tech Connect Details</span>
                    <div><b class="crd-lft">Type</b> <span class="crd-ryt">: {{techtalkdata.tech_talk_type}}</span>
                    </div>
                    <div><b class="crd-lft">Topic</b> <span class="crd-ryt">: {{techtalkdata.topic}}</span></div>
                    <div><b class="crd-lft">Abstract</b> <span class="crd-ryt">: {{techtalkdata.abstract}}</span></div>
                    <div><b class="crd-lft">Technology</b> <span class="crd-ryt">: {{techtalkdata.technology}}</span>
                    </div>
                    <div *ngIf="techtalkdata.sub_technology!=null"><b class="crd-lft">Sub Technology</b> <span
                        class="crd-ryt">:
                        {{techtalkdata.sub_technology}}</span>
                      <br />
                    </div>

                    <!-- <div><b class="crd-lft">Created on</b> <span class="crd-ryt">: {{techtalkdata.createdon}}</span></div>
              <div><b class="crd-lft">Event on</b> <span class="crd-ryt">: {{techtalkdata.venuedate}}</span></div>
              <div><b class="crd-lft" style="font-size: 14px;">No.of People Applied</b> <span class="crd-ryt"> :
                  {{techtalkdata.registrationCount}}</span></div> -->


                    <span class="cardSubHeading crd-hdng">Industrial Expert</span>

                    <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techtalkdata.user_name}}</span></div>
                    <div><b class="crd-lft">Company</b> <span class="crd-ryt">:
                        {{techtalkdata.company}}</span></div>
                    <div><b class="crd-lft">Positionl</b> <span class="crd-ryt" style="font-size: 14px;">:
                        {{techtalkdata.position}}</span></div>



                    <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techtalkdata.user_name}}</span></div>
                    <div><b class="crd-lft">Contact Number</b> <span class="crd-ryt">: {{techtalkdata.contact_email}}
                      </span></div>
                    <div><b class="crd-lft">Email</b> <span class="crd-ryt" style="font-size: 14px;">:
                        {{techtalkdata.contact_number}}
                      </span></div>

                    <br />

                    <span class="cardSubHeading crd-hdng">Venue Details</span>
                    <br />
                    <div><b class="crd-lft">Place</b> <span class="crd-ryt">: {{techtalkdata.place}}</span></div>
                    <div><b class="crd-lft">Address</b> <span class="crd-ryt">: {{techtalkdata.address}}</span></div>
                    <div><b class="crd-lft">City</b> <span class="crd-ryt">: {{techtalkdata.city}}</span></div>
                    <div><b class="crd-lft">Venue Date</b> <span class="crd-ryt">: {{techtalkdata.event_date}}</span>
                    </div>



                    <span class="cardSubHeading crd-hdng">Registration Details</span>

                    <div><b class="crd-lft">No. of Registration</b> <span class="crd-ryt">:
                        {{techtalkdata.seat_capacity}}</span>
                    </div>


                  </div>
                </div>

                <div class="crd-footr">
                  <ul class="nav nav-pills crd-btn-dv">
                    <li class="nav-item">
                      <button class="nav-link btn btn-light  buttonarticle" (click)="viewTechTalkDetails(techtalkdata)"
                        data-toggle="modal" data-target="#detailsModal">View Detail's</button>
                    </li>
                    <!-- <li class="nav-item" *ngIf="!checkLoginStatus()"> -->
                    <li class="nav-item">
                      <button class="nav-link btn btn-light buttonarticle"
                        (click)="applyForEventTechTalk(techtalkdata)">Apply for the event</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>



      <div *ngIf="showstuation" class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center" *ngIf="getMyStuvData.length==0">No Data Available</p>
          </div>
          <div class="col-12" style="margin-top: 1em;">
            <div class="card" style="width: 100%;" *ngFor="let stuvation of getMyStuvData ; let i = index;">
              <div class="card-body">

                <div class="row" style="margin-top: -20px;">

                  <div class="col-md-12 col-sm-12 stuv_titl">
                    <div *ngIf="stuvation.project_type!='Innovation'">
                      <h3>Title : {{stuvation.title}}</h3>
                    </div>
                    <div *ngIf="stuvation.project_type=='Innovation'">
                      <h3>Idea : {{stuvation.idea}}</h3>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 col-sm-12 tec_lft">
                    <span *ngIf="stuvation.project_type!=''"> <b> Project Type </b> : {{stuvation.project_type}}
                      <br /></span>
                    <b>Project Status</b> : <span style="color: green; font-weight: bold"
                      *ngIf="stuvation.project_status=='completed'">{{stuvation.project_status}}<br /></span>
                    <span style="color: #da9101; font-weight: bold" *ngIf="stuvation.project_status=='ongoing'">{{stuvation.project_status
                       }}<br /></span>
                    <b>Technology</b> : {{stuvation?.technology}}

                    <span *ngIf="stuvation.sub_technology!=null">, <b>Sub-Technology</b> :
                      {{stuvation?.sub_technology}} </span>
                    <div>

                      <span *ngIf="stuvation.idea!==''"><b>Idea</b> : {{stuvation?.idea}}
                        <br /></span>
                      <span *ngIf="stuvation.idea_desc!==''"> <b>Idea Description</b> : {{stuvation?.idea_desc}}</span>

                    </div>
                    <div>

                      <span *ngIf="stuvation.prototype_available!==''"><b>Prototype Available </b> :
                        {{stuation?.prototype_available}} <br /></span>

                      <span *ngIf="stuvation.ref_link!=''"><b>Reference Link</b> : {{stuation?.ref_link}}
                        <br /></span>
                      <span *ngIf="stuvation.exp_budget!=''"> <b>Expected Budget</b> : {{stuation?.exp_budget}}
                        <br /></span>
                      <span *ngIf="stuvation.team_size!='0'"><b>Team Size</b> : {{stuation?.team_size}}<br />
                        <b>Student Partner Last Date Of Joining</b> : {{stuvation?.last_date_of_joining}}
                        <br /></span>
                      <div *ngIf="stuvation?.idea_desc=='Innovation' && stuvation.idea_desc!=''">
                        <span> <b>Idea Description</b> :
                          {{stuvation?.idea_desc}}</span>
                      </div>

                    </div>
                    <div *ngIf="stuvation.abstract!= 'undefined'">
                      <!-- *ngIf="stuvation.project_type!='Innovation'" -->
                      <span> <b>Abstract</b> : {{stuvation?.abstract}}</span>
                    </div>

                  </div>
                  <div class="col-md-3 col-sm-6 tec_mdl">

                    <div>
                      <img class="profilepicture" [src]="image_path + stuvation.profile_image" alt="Card image cap">
                    </div>
                    <div>
                      <b>{{stuvation.user_name | uppercase}}</b>
                      <br />
                      <span style="font-size: 0.85rem;">{{stuvation.follow_count}} followers</span>
                      <br />

                    </div>




                  </div>

                  <div class="col-md-3 tec_ryt">

                    <ul *ngIf="!checkLoginStatus()" class="nav nav-pills">



                      <!-- <li class="nav-item" style="margin-left:2%">
                        <button *ngIf="!checkLoginStatus()" class="btn btn-light buttonarticle"
                          (click)="likeStuation(stuvation.stuvation_id,stuvation.like_count,stuvation.user_id)">
                          {{stuvation.like_count}}
                          <img src="../assets/images/thumbsUp.png" alt="Card image cap" style="height:15px;">
                        </button>
                      </li> -->


                      <li class="nav-item">
                        <button class="nav-link btn btn-light commentbutton buttonarticle" data-toggle="modal"
                          data-target="#showStuvationDiscussionModal"
                          (click)="showstuvationComments(stuvation)">Discussions</button>
                      </li>







                    </ul>
                  </div>




                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div id="showStuvationDiscussionModal" class="modal fade" role="dialog">
  <div class="modal-dialog stuv-popup">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Article Comments</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeCommentsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="card cmnts" *ngFor="let articlecomment of stuvationcomments; let i = index; ">
          <p *ngIf="stuvationcomments.length==0" style="text-align: center">No Data Available</p>

          <div class="card-body row">

            <div class="col-md-10 col-sm-12">
              <b>Name</b> :
              {{articlecomment.user_name}}
              <br />
              <b>Comment</b> :
              <span *ngIf="!showEdit">
                {{articlecomment.comment}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="commentsModal" class="modal fade" role="dialog">
  <div class="modal-dialog createarticle1">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Article Comments</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeCommentsModal">&times;</button>
      </div>
      <div class="modal-body">
        <p *ngIf="articlecomments.length==0" style="text-align: center">No Data Available</p>
        <div class="card cmnts" *ngFor="let articlecomment of articlecomments; let i = index; ">
          <div class="card-body row">

            <div class="col-md-10 col-sm-12">
              <b>Name</b> :
              {{articlecomment.user_name}}
              <br />
              <b>Comment</b> :
              <span *ngIf="!showEdit">
                {{articlecomment.comment}}</span>
              <textarea style="width: 100%;" *ngIf="showInput" [(ngModel)]="articlecomment.comment" name="comment"
                placeholder="500 Characters" maxlength="500"></textarea>
            </div>

            <!-- <div class="col-md-2 col-sm-12">
              <button *ngIf="(userid === articlecomment.user_name) && !showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEdit()">
                Edit
              </button>
              <button *ngIf="(userid === articlecomment.user_name) && showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEditDelete(articlecomment,'edit')">
                Update
              </button>
              <button *ngIf="(userid === articlecomment.user_name) && !showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEditDelete(articlecomment,'delete')">
                Delete
              </button>
            </div> -->
          </div>
        </div>
        <!-- <div class="card">
          <div class="card-body row">
            <div class="col--md-10  col-sm-12 col-xs-12">
              <textarea style="width: 100%;" [(ngModel)]="comment" placeholder="500 Characters"
                maxlength="500"></textarea>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
              <button class="btn btn-light commentbutton buttonarticle" [disabled]="comment==''"
                (click)="commentOperation()">
                Add Comment
              </button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div id="buynowModal1" class="modal fade" role="dialog">
  <div class="modal-dialog createarticle1">
    <div class="col-12" style="margin-top: 1em;">
      <div class="modal-content">

        <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
          <span style="text-align: center; color: white; width: 100%;">
            <h4>Tech Article Details</h4>
          </span>
          <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
            id="closeDetailsModal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <br />
              <b>Article Type</b> : {{articletype}}
              <br />
              <b>Title</b> : {{articletitle}}
              <br />
              <b>Email</b> : {{emailaddress}}
              <br />
              <b>Contact Number</b> : {{contactnumber}}

              <br />
              <span *ngIf="showcost"> <b>Cost</b> : {{cost}}</span>

            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <br />

              <b>Engineering Technology</b> : {{technologyname}}
              <br />
              <b>Sub-Engineering Technology</b> : {{subtechname}}
              <br />

              <b>Abstract</b> : <span style="text-align:justify">{{abstract}}</span>
              <br />
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="detailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog createbank">

    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Event Details</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeDetailsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedModel=='techTeach'">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <span>
                <b>Created on</b> : {{selectedTechTeach.created_time}}</span>
              &nbsp;&nbsp;&nbsp; <span>
                <b>Event on</b> : {{selectedTechTeach.event_date}}</span>
              &nbsp;&nbsp;&nbsp; <span>
                <b>Number of people applied</b> : {{selectedTechTeach.seat_capacity}}</span>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Originator</span>
              <br />
              <b>Name</b> : {{selectedTechTeach.user_name}}

              <br />
              <b>Contact Number</b> :{{selectedTechTeach.contact_number}}

              <br />
              <b>Email</b> :{{selectedTechTeach.contact_email}}
              <br />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Venue Details</span>
              <br />
              <b>Place</b> : {{selectedTechTeach.place}}
              <br />
              <b>City</b> : {{selectedTechTeach.city}}
              <br />
              <b>Address</b> : {{selectedTechTeach.address}}
              <br />
              <b>Venue Date</b> : {{selectedTechTeach.event_date}}
              <br />
              <b>Time</b> : {{selectedTechTeach.from_time}} TO {{selectedTechTeach.to_time}}
              <br />
              <br />

            </div>

          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Other Details</span>
              <br />
              <b>Tech Teach Type</b> : {{selectedTechTeach.tech_teach_type}}
              <br />
              <b>Tech Teach Topic</b> : {{selectedTechTeach.topic}}
              <br />
              <b>Abstract</b> : {{selectedTechTeach.abstract}}
              <br />
              <b>Industrial Expert</b> : {{selectedTechTeach.speaker_name}}
              <br />
              <b>No. of Years Experience</b> : {{selectedTechTeach.experience}}
              <br />
              <b>Technology Name</b> : {{selectedTechTeach.technology}}
              <br />
              <b>Sub Technology Name</b> :
              {{selectedTechTeach.sub_technology}}
              <br />
              <br />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Registration Details</span>
              <br />
              <b>Web Address</b> : {{selectedTechTeach.web_address}}
              <br />
              <b>Maximum Registration Count</b> : {{selectedTechTeach.maxregcount}}
              <br />
              <b>Registration Fees</b> : {{selectedTechTeach.reg_fee}} Rs Per Person
              <br />
              <b>Eligibility</b> : {{selectedTechTeach.eligibility}}
              <br />
              <b>Seat Capacity</b> : {{selectedTechTeach.seat_capacity}}
              <br />
              <br />
            </div>
          </div>

          <ul class="nav nav-pills" style="float: right;" *ngIf="!checkLoginStatus()">
            <li class="nav-item">
              <button class="nav-link btn btn-light buttonarticle"
                (click)="applyForEventTechTeach(selectedTechTeach)">Apply for the event</button>
            </li>
          </ul>

        </div>
        <div *ngIf="selectedModel=='techTalk'">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <span>
                <b>Created on</b> : {{selectedTechTalk.created_time}}</span>
              &nbsp;&nbsp;&nbsp;
              <span>
                <b>Event on</b> : {{selectedTechTalk.event_date}}</span>
              &nbsp;&nbsp;&nbsp;
              <span>
                <b>Number of people applied</b> : </span>

            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Originator</span>
              <br />
              <b>Name</b> : {{selectedTechTalk.user_name}}

              <br />
              <b>Contact Number</b> :

              <br />
              <b>Email</b> :
              <br />

              <br />

              <br />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Venue Details</span>
              <br />
              <b>Place</b> : {{selectedTechTalk.place}}
              <br />
              <b>City</b> : {{selectedTechTalk.city}}
              <br />
              <b>Address</b> : {{selectedTechTalk.address}}
              <br />
              <b>Venue Date</b> : {{selectedTechTalk.event_date}}
              <br />
              <b>Time</b> : {{selectedTechTalk.from_time}} TO {{selectedTechTalk.to_time}}
              <br />
              <br />

            </div>

          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Other Details</span>
              <br />
              <b>Tech Teach Topic</b> : {{selectedTechTalk.topic}}
              <br />
              <b>Tech Talk Type</b> : {{selectedTechTalk.tech_talk_type}}
              <br />
              <b>Industrial Expert</b> : {{selectedTechTalk.user_name}}
              <br />
              <b>No. of Years Experience</b> : {{selectedTechTalk.experience}}
              <br />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Registration Details</span>
              <br />
              <b>Web Address</b> : {{selectedTechTalk.web_address}}
              <br />
              <b>Maximum Registration Count</b> :
              <br />
              <b>Registration Fees</b> : {{selectedTechTalk.reg_fee}} Rs Per Person
              <br />
              <b>Eligibility</b> : {{selectedTechTalk.eligibility}}
              <br />
              <b>Seat Capacity</b> : {{selectedTechTalk.seat_capacity}}
              <br />
              <br />
            </div>
          </div>
          <ul class="nav nav-pills" style="float: right;" *ngIf="!checkLoginStatus()">
            <li class="nav-item">
              <button class="nav-link btn btn-light buttonarticle"
                (click)="applyForEventTechTalk(selectedTechTalk)">Apply for the event</button>
            </li>
          </ul>

        </div>
      </div>
      <!--<div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
    </div>

  </div>
</div>