<div class="row">
  <span style="text-align: center;  width: 100%;">
    <h1 style="color : #19578A;">Profile</h1>
  </span>
</div>
<div class="row" *ngIf="profilePageCounterValues!=undefined">
  <div class="col-sm-2" style="text-align: center">
    <div>
      <img class="profilepicture" src="../assets/images/profileImages/{{getLoggedInUserObject()['profilepicture']}}" alt="Card image cap">
    </div>
    <div>
      <b style=" text-transform: capitalize;">{{getLoggedInUserObject()['name']}}</b>
      <br/>
      <span style="font-size: 0.85rem; text-transform: capitalize;">{{getLoggedInUserObject()['usertype']}}</span>
      <br/>
      <span style="font-size: 0.85rem; font-weight: bold; text-transform: capitalize;">{{getLoggedInUserObject()['followerCount']}}
        followers
      </span>
    </div>
  </div>
  <div class="col-sm-8" style="text-align: center">
    <div class="row" style="text-align: center;">
        <div class="col-sm-2" style="border: 1px solid blue;">
            <span style="color:#19578A; font-weight: bold">Stuvation</span>
            <hr class="hrnew">
            Mini: {{profilePageCounterValues['@miniProjectCount']}}
            <br/> Major: {{profilePageCounterValues['@majorProjectCount']}}
            <br/> Stuvation: {{profilePageCounterValues['@stuvationCount']}}
          </div>
      <div class="col-sm-3" style="border: 1px solid blue;">
        <span style="color:#19578A; font-weight: bold">Tech Bank</span>
        <hr class="hrnew">
        Research Paper: {{profilePageCounterValues['@researchPaperCount']}}
        <br/> White Paper: {{profilePageCounterValues['@whitePaperCount']}}
        <br/> Articles: {{profilePageCounterValues['@articleCount']}}

      </div>
      <div class="col-sm-3" style="border: 1px solid blue;">
        <span style="color:#19578A; font-weight: bold">Tech Connect</span>
        <hr class="hrnew">
        Tech Talk: {{profilePageCounterValues['@techTalkCount']}}
        <br/> Tech Teach: {{profilePageCounterValues['@techMeetCount']}}
        <br/> Workshop: {{profilePageCounterValues['@workshopCount']}}
        <br/> Trainings: {{profilePageCounterValues['@trainingsCount']}}
      </div>
      
      <div class="col-sm-2" style="border: 1px solid blue;">
        <span style="color:#19578A; font-weight: bold">Project Me</span>
        <hr class="hrnew">
        Projects: {{profilePageCounterValues['@projectsCount']}}
      </div>
      <div class="col-sm-2" style="border: 1px solid blue;">
        <span style="color:#19578A; font-weight: bold">Engship</span>
        <hr class="hrnew">
        Internship: {{profilePageCounterValues['@internshipCount']}}
        <br/> Scholarship: {{profilePageCounterValues['@scholarshipCount']}}
        <br/> Mentorship: {{profilePageCounterValues['@mentorshipCount']}}
      </div>
    </div>
  </div>
  <div class="col-sm-2" style="text-align: center; ">
    <div class="circle" style="font-weight: bold;margin-left: 2em;">{{this.profilePageCounterValues['totalScore']}}</div>
    <br/>
    <div style="margin-left: 2em;" *ngIf="!checkLoginStatus()">
      <h4>Profile Score</h4>
      <!-- <button type="button" class="btn btn-primary" style="background-color: #19578A; color: white;font-weight: bold;" data-toggle="modal"
        data-target="#createTechArticleModal">Edit Profile</button> -->
    </div>
  </div>
</div>
<br/>
<div class="row">
  <span style="text-align: left;  width: 100%; background-color: #19578A;">
    <h3 style="color : white; margin: 0.5em;">BASIC INFORMATION</h3>
  </span>
</div>

<form *ngIf="userDetails['usertype']=='engineer'" [formGroup]="engineerRegistrationForm" (ngSubmit)="onEngineerRegistrationFormSubmit()"
  enctype="multipart/form-data">
  <div class="row">
    <div class="col-sm-6">
      <br/>
      <div class="form-group">
        <label for="firstname">Name:</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" email="true" class="form-control" formControlName="email">
      </div>
      <br/>
      <!-- <div class="form-group">
        <label for="college">College:</label>
        <input type="text" class="form-control" formControlName="college">
      </div>
      <div class="form-group">
        <label for="collegecity">College City:</label>
        <input type="text" class="form-control" formControlName="collegecity">
      </div>
      <div class="form-group">
        <label for="collegestate">College State:</label>
        <input type="text" class="form-control" formControlName="collegestate">
      </div>
      <div class="form-group">
        <label for="collegebranch">College Branch:</label>
        <input type="text" class="form-control" formControlName="collegebranch">
      </div> -->
    </div>
    <div class="col-sm-6">
      <br/>
      <div class="form-group">
        <label for="contact">Contact Number:</label>
        <input type="text" class="form-control" formControlName="contact" minlength="10" maxlength="10" (keypress)="_keyPress($event)">
      </div>
      <div class="form-group">
        <label for="dob">Date of birth:</label>
        <input type="date" class="form-control" formControlName="dob">
      </div>
      <br/>
      <!-- <div class="form-group">
        <label for="school">School:</label>
        <input type="text" class="form-control" formControlName="schoolname">
      </div>
      <div class="form-group">
        <label for="schoolcity">School City:</label>
        <input type="text" class="form-control" formControlName="schoolcity">
      </div>
      <div class="form-group">
        <label for="schoolstate">School State:</label>
        <input type="text" class="form-control" formControlName="schoolstate">
      </div> -->

    </div>
  </div>
  <div class="row">
    <span style="text-align: left;  width: 100%; background-color: #19578A;">
      <h3 style="color : white; margin: 0.5em;">EXPERIENCE</h3>
    </span>
  </div>
  <br/>
  <div formArrayName="workExperience">


    <div *ngFor="let exp of workExperience.controls; let i=index">

      <div [formGroupName]="i" style="    border: 1px solid black;
      padding: 1em;">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="role">Role:</label>
            <input type="text" class="form-control" formControlName="role">
          </div>

          <div class="form-group col-sm-3">
            <label for="companyName">Company Name:</label>
            <input type="text" class="form-control" formControlName="companyName">
          </div>
          <div class="form-group col-sm-3">
            <label for="companyName">Location:</label>
            <input type="text" class="form-control" formControlName="companyName">
          </div>
          
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="companyName">Date From:</label>
            <input type="date" class="form-control" formControlName="companyName">
            <br/>

          </div>

          <div class="form-group col-sm-3">
            <label for="companyName">Date To:</label>
            <input type="date" class="form-control" formControlName="companyName">
            <br/>

          </div>

          <div class="form-group col-sm-3">
              <label for="yearsOfExperience">Years of Experience:</label>
              <input type="text" class="form-control" formControlName="yearsOfExperience">
  
            </div>



          

        </div>

        <div class="row">
            <div class="form-group col-sm-9">
                <label for="companyName">Description:</label>
                <textarea class="form-control" formControlName="companyName"></textarea>
                <br/>
    
              </div>
              
          </div>
          <div class="col-sm-3">
              <label for="yearsOfExperience">&nbsp;</label>
              <button class="form-control btn-primary" *ngIf="i==workExperience.controls.length-1" (click)="addWorkExperience()">Add
                More
              </button>
            </div>
      </div>

    </div>

  </div>
  <br/>
  <div class="row">
    <span style="text-align: left;  width: 100%; background-color: #19578A;">
      <h3 style="color : white; margin: 0.5em;">STUVATION</h3>
    </span>
  </div>
  <br/>
  
  
  <div class="row">
    <div class="col-sm-6">

      <span style="color: #176086; text-decoration: underline; ">
        <h4>Mini Project</h4>
      </span>
      <div class="form-group">
        <label for="miniprojecttitle">Title:</label>
        <input type="text" class="form-control" formControlName="miniprojecttitle">
      </div>
      <div class="form-group">
        <label for="miniprojectdescription">Description:</label>
        <input type="text" class="form-control" formControlName="miniprojectdescription">
      </div>



      <span style="color: #176086; text-decoration: underline; ">
        <h4>Technologies</h4>
      </span>
      <div class="form-group">
        <label for="technologies">Technologies:</label>
        <input type="text" class="form-control" formControlName="technologies">
      </div>

    </div>
    <div class="col-sm-6">
      <span style="color: #176086; text-decoration: underline; ">
        <h4>Major Project</h4>
      </span>
      <div class="form-group">
        <label for="majorprojecttitle">Title:</label>
        <input type="text" class="form-control" formControlName="majorprojecttitle">
      </div>
      <div class="form-group">
        <label for="majorprojectdescription">Description:</label>
        <input type="text" class="form-control" formControlName="majorprojectdescription">
      </div>

      <span style="color: #176086; text-decoration: underline; ">
        <h4>Skills</h4>
      </span>
      <div class="form-group">
        <label for="skills">Skills:</label>
        <input type="text" class="form-control" formControlName="skills">
      </div>
    </div>
  </div>


  <!-- <div class="form-group">
    <label for="profilePicture">Upload Profile Picture: &nbsp;&nbsp;&nbsp;
      <input ng2FileSelect type='file' (change)="readUrl($event)" formControlName="profilePicture" accept=".jpg" [uploader]="uploader">
 
      <img [src]="url" style="max-width: 100px; max-height: 100px;">
    </label>
  </div> -->
  <div style="width: 100%; text-align: center; align-items: center">


    <button type="submit"  class="btn btn-primary">Update</button>
  </div>
</form>

<form *ngIf="userDetails['usertype']=='student'" [formGroup]="studentRegistrationForm" (ngSubmit)="onStudentRegistrationFormUpdate()"
  enctype="multipart/form-data">
  <div class="row">
    <div class="col-sm-6">
      <br/>
      <div class="form-group">
        <label for="firstname">Name:</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" email="true" class="form-control" formControlName="email">
      </div>
      <br/>
      <!-- <div class="form-group">
        <label for="college">College:</label>
        <input type="text" class="form-control" formControlName="college">
      </div>
      <div class="form-group">
        <label for="collegecity">College City:</label>
        <input type="text" class="form-control" formControlName="collegecity">
      </div>
      <div class="form-group">
        <label for="collegestate">College State:</label>
        <input type="text" class="form-control" formControlName="collegestate">
      </div>
      <div class="form-group">
        <label for="collegebranch">College Branch:</label>
        <input type="text" class="form-control" formControlName="collegebranch">
      </div> -->
    </div>
    <div class="col-sm-6">
      <br/>
      <div class="form-group">
        <label for="contact">Contact Number:</label>
        <input type="text" class="form-control" formControlName="contact" minlength="10" maxlength="10" (keypress)="_keyPress($event)">
      </div>
      <div class="form-group">
        <label for="dob">Date of birth:</label>
        <input type="date" class="form-control" formControlName="dob">
      </div>
      <br/>
      <!-- <div class="form-group">
        <label for="school">School:</label>
        <input type="text" class="form-control" formControlName="schoolname">
      </div>
      <div class="form-group">
        <label for="schoolcity">School City:</label>
        <input type="text" class="form-control" formControlName="schoolcity">
      </div>
      <div class="form-group">
        <label for="schoolstate">School State:</label>
        <input type="text" class="form-control" formControlName="schoolstate">
      </div> -->

    </div>
  </div>

  <br/>
  <div class="row">
    <span style="text-align: left;  width: 100%; background-color: #19578A;">
      <h3 style="color : white; margin: 0.5em;">EDUCATION</h3>
    </span>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-6">
      <br/>
      <!-- <div class="form-group">
          <label for="firstname">Name:</label>
          <input type="text" class="form-control" formControlName="name" disabled>
        </div>
  
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" email="true" class="form-control" formControlName="email" disabled>
        </div>
        <br/> -->
      <div class="form-group">
        <label for="college">College:</label>
        <input type="text" class="form-control" formControlName="college">
      </div>
      <div class="form-group">
        <label for="collegestate">College State:</label>
        <select type="text" class="form-control" formControlName="collegestate" (change)="updateCityList(studentRegistrationForm.value.collegestate, 'college')">
          <option *ngFor="let state of stateconfig; let i = index;" [value]="state.id">{{state.statename}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="collegecity">College City:</label>
        <select type="text" class="form-control" formControlName="collegecity">
          <option *ngFor="let city of collegecitylist; let i = index;" [value]="city.id">{{city.cityname}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="collegebranch">College Branch:</label>
        <input type="text" class="form-control" formControlName="collegebranch">
      </div>
    </div>
    <div class="col-sm-6">
      <br/>
      <!-- <div class="form-group">
          <label for="contact">Contact Number:</label>
          <input type="text" class="form-control" formControlName="contact" minlength="10" maxlength="10" (keypress)="_keyPress($event)"
            disabled>
        </div>
        <div class="form-group">
          <label for="dob">Date of birth:</label>
          <input type="date" class="form-control" formControlName="dob" disabled>
        </div>
        <br/> -->
      <div class="form-group">
        <label for="school">School:</label>
        <input type="text" class="form-control" formControlName="schoolname">
      </div>
      <div class="form-group">
        <label for="schoolstate">School State:</label>
        <select type="text" class="form-control" formControlName="schoolstate" (change)="updateCityList(studentRegistrationForm.value.schoolstate, 'school')">
          <option *ngFor="let state of stateconfig; let i = index;" [value]="state.id">{{state.statename}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="schoolcity">School City:</label>
        <select type="text" class="form-control" formControlName="schoolcity">
          <option *ngFor="let city of schoolcitylist; let i = index;" [value]="city.id">{{city.cityname}}</option>
        </select>
      </div>


    </div>
  </div>
  <br/>
  <div class="row">
    <span style="text-align: left;  width: 100%; background-color: #19578A;">
      <h3 style="color : white; margin: 0.5em;">STUVATION</h3>
    </span>
  </div>
  <br/>
  
  
  <div class="row">
    <div class="col-sm-6">

      <span style="color: #176086; text-decoration: underline; ">
        <h4>Mini Project</h4>
      </span>
      <div class="form-group">
        <label for="miniprojecttitle">Title:</label>
        <input type="text" class="form-control" formControlName="miniprojecttitle">
      </div>
      <div class="form-group">
        <label for="miniprojectdescription">Description:</label>
        <input type="text" class="form-control" formControlName="miniprojectdescription">
      </div>



      <span style="color: #176086; text-decoration: underline; ">
        <h4>Technologies</h4>
      </span>
      <div class="form-group">
        <label for="technologies">Technologies:</label>
        <input type="text" class="form-control" formControlName="technologies">
      </div>

    </div>
    <div class="col-sm-6">
      <span style="color: #176086; text-decoration: underline; ">
        <h4>Major Project</h4>
      </span>
      <div class="form-group">
        <label for="majorprojecttitle">Title:</label>
        <input type="text" class="form-control" formControlName="majorprojecttitle">
      </div>
      <div class="form-group">
        <label for="majorprojectdescription">Description:</label>
        <input type="text" class="form-control" formControlName="majorprojectdescription">
      </div>

      <span style="color: #176086; text-decoration: underline; ">
        <h4>Skills</h4>
      </span>
      <div class="form-group">
        <label for="skills">Skills:</label>
        <input type="text" class="form-control" formControlName="skills">
      </div>
    </div>
  </div>


  <!-- <div class="form-group">
    <label for="profilePicture">Upload Profile Picture: &nbsp;&nbsp;&nbsp;
      <input ng2FileSelect type='file' (change)="readUrl($event)" formControlName="profilePicture" accept=".jpg" [uploader]="uploader">
 
      <img [src]="url" style="max-width: 100px; max-height: 100px;">
    </label>
  </div> -->
  <div style="width: 100%; text-align: center; align-items: center">


    <button type="submit" [disabled]="!studentRegistrationForm.valid " class="btn btn-primary">Update</button>
  </div>
</form>