<div class="container">
  <div class="row">
    <span style="text-align: center;  width: 100%;">
      <h1 style="color : #33099e;">Profile</h1>
    </span>
  </div>
  <div class="row">
    <div class="col-sm-2" style="text-align: center">
      <div>
        <img class="profilepicture" *ngIf="getLoggedInUserObject()['image'] !=''"
          style="height: 111px;width:111px;border-radius:55%" [src]="strImage" alt="Profile image">

        <img class="profilepicture" style="border-radius: 10em;" *ngIf="getLoggedInUserObject()['image'] ==''"
          src="../assets/images/user-dummy.png" alt="Profile Pic">

        <input *ngIf="editButton" class="form-control" type="file" accept="image1/*" (change)="readUrl($event,'image')">


        <!-- <img [src]="strImage" alt="" width="100" height="100"
                style="max-width: 100px; max-height: 100px;"> -->

      </div>
      <div>
        <b style=" text-transform: capitalize;">{{profileData.name | titlecase}}</b>
        <br />
        <span style="font-size: 0.85rem; text-transform: capitalize;">Followers</span>
        <br />
        <!-- <span
        style="font-size: 0.85rem; font-weight: bold; text-transform: capitalize;">{{getLoggedInUserObject()['followerCount']}}
        followers
      </span> -->
      </div>
    </div>
    <div class="col-sm-8" style="text-align: center">
      <div class="row" style="text-align: center;">
        <div class="col-sm-4" style="border: 1px solid blue;">
          <span style="color:#33099e; font-weight: bold">Stuvation</span>
          <hr class="hrnew">
          Mini: {{userData.stuvation.mini_project_count}}
          <br /> Major: {{userData.stuvation.major_project_count}}
          <br /> Stuvation: {{userData.stuvation.stuation_count}}
        </div>
        <div class="col-sm-4" style="border: 1px solid blue;">
          <span style="color:#33099e; font-weight: bold">Tech Bank</span>
          <hr class="hrnew">
          Research Paper: {{userData.tech_bank.research_paper_count}}
          <br /> White Paper: {{userData.tech_bank.white_paper_count}}
          <br /> Articles: {{userData.tech_bank.article_count}}

        </div>
        <div class="col-sm-4" style="border: 1px solid blue;">
          <span style="color:#33099e; font-weight: bold">Tech Connect</span>
          <hr class="hrnew">
          Tech Talk:{{userData.tech_talk?.tech_talk_count}}
          <br /> Tech Teach: {{userData.tech_talk?.tech_teach_count}}
          <br /> Workshop: {{userData.tech_talk?.work_shop_count}}
          <br /> Trainings: {{userData.tech_talk?.trainings_count}}
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-2" style="text-align: center; ">
      <div class="circle" style="font-weight: bold;
      /* margin-left: 1em; */
      font-size: 15px;
      width: auto;
      height: 90%;
      margin-top: -32px;
      padding-top: 20px;">Over all Grade {{grade}}
        <span style="padding-left: 8%;font-size: 12px"></span>
      </div>
      <br />
      <button type="button" class="btn btn-primary" style="background-color: #33099e; color: white;font-weight: bold;"
        data-toggle="modal" data-target="#createTechArticleModal" (click)="editProfile()">Edit Profile</button>

      <button type="button" class="btn btn-primary" style="background-color: #33099e; color: white;font-weight: bold;"
        (click)="editProfile()" *ngIf="editButton">Edit Profile</button>

    </div> -->
  </div>
  <br />
  <div class="row">
    <span style="text-align: left;  width: 100%; background-color: #33099e;">
      <h3 style="color : white; margin: 0.5em;">BASIC INFORMATION</h3>
    </span>
  </div>

  <form [formGroup]="engineerRegistrationForm" enctype="multipart/form-data">
    <div class="row">
      <div class="col-sm-12">
        <br />
        <div class="form-group">
          <label for="firstname">Name:</label>
          <input type="text" class="form-control" formControlName="name" [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" email="true" class="form-control" formControlName="email"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="contact">Contact Number:</label>
          <input type="text" myNumberOnly myNumberOnly class="form-control" formControlName="contact" minlength="10"
            maxlength="10" [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="dob">Date of birth:</label>
          <input type="date" myNumberOnly class="form-control" formControlName="dob"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="contact">School:</label>
          <input type="text" class="form-control" formControlName="school" [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="contact">College:</label>
          <input type="text" class="form-control" formControlName="college" [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="contact">Branch:</label>
          <input type="text" class="form-control" formControlName="branch" [attr.disabled]="editButton==false?'':null">
        </div>
        <!-- <div style="width: 100%; text-align: end;" *ngIf="showEdit">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div> -->

      </div>

    </div>
    <div class="row">
      <span style="text-align: left;  width: 100%; background-color: #33099e;">
        <h3 style="color : white; margin: 0.5em;">PROJECT INFORMATION</h3>
      </span>
      <div class="col-sm-12">

        <span>
          <h4>Mini Project</h4>
        </span>
        <div class="form-group">
          <label for="miniprojecttitle">Project Title:</label>
          <input type="text" class="form-control" formControlName="miniProjectTitle"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="miniprojectdescription">Project Description:</label>
          <input type="text" class="form-control" formControlName="miniProjectDescription"
            [attr.disabled]="editButton==false?'':null">
        </div>
      </div>
      <div class="col-sm-12">
        <span>
          <h4>Major Project</h4>
        </span>
        <div class="form-group">
          <label for="majorprojecttitle">Project Title:</label>
          <input type="text" class="form-control" formControlName="majorProjecTtitle"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="majorprojectdescription">Project Description:</label>
          <input type="text" class="form-control" formControlName="majorProjectDescription"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <!-- <div style="width: 100%; text-align: end;" *ngIf="showEdit">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div> -->
      </div>
    </div>


    <div class="row">
      <span style="text-align: left;  width: 100%; background-color: #33099e;">
        <h3 style="color : white; margin: 0.5em;">INTERNSHIP</h3>
      </span>

      <div class="col-sm-12">
        <div class="form-group" *ngIf="editButton">

          <label for="majorprojectdescription"> Have you done any Internship?</label><br />
          <label class="form-check-label" style="padding-left: 2%">
            <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1"
              (click)="showinternship()" [attr.disabled]="editButton==false?'':null">
            Yes</label>
          <label class="form-check-label" style="padding-left: 4%">
            <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2"
              (click)="nointernship()" [attr.disabled]="editButton==false?'':null">
            No</label>
        </div>

        <div class="form-group">
          <label for="majorprojectdescription">Role:</label>
          <input type="text" class="form-control" formControlName="internRole"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="majorprojectdescription">Company:</label>
          <input type="text" class="form-control" formControlName="internCompany"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <label for="majorprojectdescription">Duration:</label>
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <input type="date" myNumberOnly class="form-control" formControlName="internDurationFrom"
                [attr.disabled]="editButton==false?'':null">
            </div>

          </div>
          <div class="col-md-2" style="text-align: center">
            <span>To</span>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="date" myNumberOnly class="form-control" formControlName="internDurationTo"
                [attr.disabled]="editButton==false?'':null">
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="profileData.intern_certificate!=''">
          <label for="majorprojectdescription">Certificate: </label>
          <a target="blank"
            [href]="filePAth +profileData.intern_certificate">&nbsp;&nbsp;{{ profileData.intern_certificate}}</a>
          <!-- <input type="file" class="form-control" style="border: none" formControlName="trainingCertificate"> -->
        </div>

        <div class="form-group" *ngIf="editButton">
          <label for="majorprojectdescription">Upload any Certification:</label>
          <input type="file" class="form-control" style="border: none" (change)="readUrl($event,'intern')"
            formControlName="internCerftification" [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group" *ngIf="editButton">

          <label for="majorprojectdescription"> Do you have any scholorship?</label><br />
          <label class="form-check-label" style="padding-left: 2%">
            <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1"
              checked>
            Yes</label>
          <label class="form-check-label" style="padding-left: 4%">
            <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2"
              value="option2">
            No</label>
        </div>

        <!-- <div style="width: 100%; text-align: end;" *ngIf="showEdit">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div> -->
      </div>

    </div>

    <div class="row">
      <span style="text-align: left;  width: 100%; background-color: #33099e;">
        <h3 style="color : white; margin: 0.5em;">EXTRA SKILLS</h3>
      </span>

      <div class="col-sm-12">


        <div class="form-group">
          <label for="majorprojectdescription">Skills:</label>
          <input type="text" class="form-control" formControlName="skills" [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="majorprojectdescription">Description:</label>
          <input type="text" class="form-control" formControlName="skillDescription"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <!-- <div style="width: 100%; text-align: end;" *ngIf="showEdit">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div> -->
      </div>

    </div>


    <div class="row">
      <span style="text-align: left;  width: 100%; background-color: #33099e;">
        <h3 style="color : white; margin: 0.5em;">TRAINING</h3>
      </span>

      <div class="col-sm-12">


        <div class="form-group">
          <label for="majorprojectdescription">Role:</label>
          <input type="text" class="form-control" formControlName="trainingRole"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <div class="form-group">
          <label for="majorprojectdescription">Company:</label>
          <input type="text" class="form-control" formControlName="trainingCompany"
            [attr.disabled]="editButton==false?'':null">
        </div>
        <label for="majorprojectdescription">Duration:</label>
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <input type="date" myNumberOnly class="form-control" formControlName="trainingDurationFrom"
                [attr.disabled]="editButton==false?'':null">
            </div>

          </div>
          <div class="col-md-2" style="text-align: center">
            <span>To</span>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="date" myNumberOnly class="form-control" formControlName="trainingDurationTo"
                [attr.disabled]="editButton==false?'':null">
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="profileData.certificate2!=''">
          <label for="majorprojectdescription">Certificate: </label>
          <a target="blank" [href]="filePAth  + profileData.certificate2">&nbsp;&nbsp;{{ profileData.certificate2}}</a>
          <!-- <input type="file" class="form-control" style="border: none" formControlName="trainingCertificate"> -->
        </div>

        <div class="form-group">
          <label for="majorprojectdescription">Any other Certificate:</label>
          <input type="file" class="form-control" style="border: none" (change)="readUrl($event,'training')"
            formControlName="trainingCertification" [attr.disabled]="editButton==false?'':null">
        </div>


        <!-- <div style="width: 100%; text-align: end;" *ngIf="showEdit">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div> -->
      </div>

    </div>


    <div style="width: 100%; text-align: center; align-items: center;">
      <!-- <button type="submit" class="btn btn-primary" *ngIf="!showEdit" (click)="generatePDF()">Download
        Details</button> -->
      <a [href]="pdfurl" target="_blank" class="buttonarticle">
        Download
        Details

      </a>
      <a class="buttonarticle" *ngIf="editButton" (click)="editProfileChanges()">Save All
        Details</a>
    </div>
    <br />
  </form>



</div>