<br />
<div class="row" style="z-index: 1;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style=" width: 100%;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let imageObj of sliderContent; let i = index;" class="carousel-item" [ngClass]="{'active' : i==0 }">
        <img class="d-block w-100 sliderImageStyle" src="../assets/images/{{imageObj.imagelink}}?auto=yes&bg=666&fg=444"
          alt="{{imageObj.sliderid}} slide">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>{{imageObj.imageHeading}}</h5>
          <p>{{imageObj.imageDescription}}</p>
        </div> -->
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="row" style="background-color: #F4F6F5; height: 4em; ">
  <div class="col-12">
    <h2 style="margin: 0.4em;">Stuvations</h2>
  </div>
</div>
<div id="techArticleFilterDiv" class="row" style="font-size: 1rem; padding: 1em;">
  <div class="col-12">

    <form id="filter">

      <input type="text" class="form-control" name="stuvationdetails" [(ngModel)]="stuvationFilter"
        style="margin-bottom: 0.5em;" />
      <div class="row" style="font-size: 1rem;">
        <div class="col-2">
          <input type="checkbox" class="techBankEventCheckbox" name="keywordFilter" [(ngModel)]="keywordFilter"
            value="Keyword">&nbsp;Keyword
        </div>
        <div class="col-2">
          <input type="checkbox" name="articleTypeFilter" class="techBankEventCheckbox" [(ngModel)]="articleTypeFilter"
            value="Type">&nbsp;Type
        </div>
        <div class="col-2">
          <input type="checkbox" name="techFilter" class="techBankEventCheckbox" [(ngModel)]="techFilter"
            value="Technology">&nbsp;Technology
        </div>
        <div class="col-3">
          <input type="checkbox" name="subTechFilter" class="techBankEventCheckbox" [(ngModel)]="subTechFilter"
            value="SubTechnology">&nbsp;Sub-Technology
        </div>

      </div>
    </form>
    <br />
    <div style="float:right;" *ngIf="!checkLoginStatus()">
      <button type="button" class="btn btn-primary"
        style="height: 30%; background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
        data-target="#createProjectModal">Create Academic Proz</button> &nbsp;&nbsp;
      <button type="button" class="btn btn-primary"
        style="height: 30%; background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
        data-target="#createStuvationModal">Create Innovation Proz</button>
    </div>
    <div style="float:right;" *ngIf="checkLoginStatus()">
      <button type="button" class="btn btn-primary"
        style="height: 30%; background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
        data-target="#loginAlertModal">Create Academic Proz</button> &nbsp;&nbsp;
      <button type="button" class="btn btn-primary"
        style="height: 30%; background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
        data-target="#loginAlertModal">Create Innovation Proz</button>
    </div>


  </div>
</div>

<div class="row">
  <div class="col-12" style="margin-top: 1em;">
    <div class="card" style="width: 100%;"
      *ngFor="let stuvation of stuvationdetails | filter:stuvationFilter:keywordFilter:articleTypeFilter:techFilter:subTechFilter:authorFilter:freeFilter:'stuvationFilter' ; let i = index; "
      [ngClass]="{'techarticleRow1' : i%2==0 }">
      <div class="card-body">

        <div class="col-sm-3" style="float:right; color: black; padding: 1em;">

          <h5>
            Project Type : {{stuvation.projectType | uppercase}}
          </h5>
          <h5 style="color:black;">
            Project Status :
            <span style="color: green; font-weight: bold" *ngIf="stuvation.projectStatus=='completed'">{{stuvation.projectStatus
              | uppercase}}</span>
            <span style="color: #da9101; font-weight: bold" *ngIf="stuvation.projectStatus=='ongoing'">{{stuvation.projectStatus
              | uppercase}}</span>
          </h5>
        </div>



        <div class="col-sm-9"
          style="background-color: #33099e;color: white;padding: 1em;width: fit-content;border-radius: 0em 1em 0em 1em;padding-left: 2em;padding-right:  2em;">
          <div *ngIf="stuvation.projectType!='Innovation'">
            <h3>Title : {{stuvation.projectTitle}}</h3>
          </div>
          <div *ngIf="stuvation.projectType=='Innovation'">
            <h3>Idea : {{stuvation.idea}}</h3>
          </div>

        </div>
        <br />
        <div class="row">
          <div style="margin-left:0.5em;">
            <img class="profilepicture" src="../assets/images/profileImages/{{stuvation.profilepicture}}"
              alt="Card image cap">
          </div>
          <div style="margin-left: 1em;">
            <b>{{stuvation.originatorname | uppercase}}</b>
            <br />
            <span style="font-size: 0.85rem;">{{stuvation.followerCount}} followers</span>
            <br />
            <button
              *ngIf="!checkLoginStatus() && stuvation.isFollowed==0 && getLoggedInUserObject()['userid']!=stuvation.userid"
              class="nav-link btn btn-light"
              style="background-color: #144E80; margin-left: 0 !important; color: white !important;"
              (click)="followerUpdate(stuvation.userId,'F');">FOLLOW</button>
            <button
              *ngIf="!checkLoginStatus() && stuvation.isFollowed==1 && getLoggedInUserObject()['userid']!=stuvation.userid"
              class="nav-link btn btn-light"
              style="background-color: #144E80; margin-left: 0 !important; color: white !important;"
              (click)="followerUpdate(stuvation.userId,'U');">UNFOLLOW</button>
          </div>
        </div>
        <div *ngIf="stuvation.projectType!='Innovation'">
          <b>Abstract</b> : {{stuvation.abstract}}
        </div>
        <div *ngIf="stuvation.projectType=='Innovation'">
          <b>Idea Description</b> : {{stuvation.ideaDescription}}
        </div>
        <br />
        <b>Technology</b> : {{stuvation.technologyname}}
        <br />
        <b>Sub-Technology</b> : {{stuvation.subtechname}}
        <!--  <div *ngIf="stuvation.projectType=='Innovation'">
          <br/>
          <b>Idea</b> : {{stuvation.idea}}
          <br/>
          <b>Idea Description</b> : {{stuvation.ideaDescription}}
          
        </div> --><br />
        <div *ngIf="stuvation.projectStatus=='ongoing'">

          <b>Prototype Available ?</b> : {{stuvation.prototypeAvailable}}
          <br />
          <b>Reference Link</b> : {{stuvation.referenceLink}}
          <br />
          <b>Expected Budget</b> : {{stuvation.expectedBudget}}
          <br />
          <b>Team Size</b> : {{stuvation.teamSize}}
          <br />
          <b>Student Partner Last Date Of Joining</b> : {{stuvation.lastDateOfJoining}}
          <br />
        </div>
        <!-- <br />

        <button *ngIf="!checkLoginStatus() && stuvation.isFollowed==0 && stuvation.userId!=userId" class=" btn btn-primary"
          style="background-color: #144E80; margin-left: 0 !important; color: white !important;" (click)="followerUpdate(stuvation.userId,'F');">FOLLOW</button>
        <button *ngIf="!checkLoginStatus() && stuvation.isFollowed==1 && stuvation.userId!=userId" class=" btn btn-primary"
          style="background-color: #144E80; margin-left: 0 !important; color: white !important;" (click)="followerUpdate(stuvation.userId,'U');">UNFOLLOW</button>
        <br /> -->
        <div style="float:right;"><b>Created On</b> : {{stuvation.createdon}}</div>
        <br />
        <button *ngIf="!checkLoginStatus()" class="btn btn-light"
          style="background-color: green; height: 2.5em; color: white"
          (click)="stuvationUpDownCountUpdate(stuvation.stuvationid,'UP')">
          {{stuvation.upCount}}
          <img src="../assets/images/thumbsUp.png" alt="Card image cap" style="height: 1.5em;">
        </button>
        &nbsp;&nbsp;
        <button *ngIf="!checkLoginStatus()" class="btn btn-light"
          style="background-color: red;height: 2.5em; color: white;"
          (click)="stuvationUpDownCountUpdate(stuvation.stuvationid,'DOWN')">
          {{stuvation.downCount}}
          <img src="../assets/images/thumbsDown.png" alt="Card image cap" style="height: 1.5em;">
        </button>

        <ul *ngIf="!checkLoginStatus()" class="nav nav-pills" style="float: right;">
          <li class="nav-item">
            <button class="nav-link btn btn-light" style="background-color: #FE9404; color: white !important;"
              data-toggle="modal" data-target="#showJoinTeamPopupModal" (click)="showJoinTeamPopup(stuvation)">Connect
              & Join as a Team</button>
          </li>

          <li class="nav-item">
            <button class="nav-link btn btn-light" style="background-color: #33099e; color: white !important;"
              data-toggle="modal" data-target="#showStuvationDiscussionModal"
              (click)="showStuvationComments(stuvation)">Discussions</button>
          </li>
        </ul>



        <!-- <ul *ngIf="!checkLoginStatus()" class="nav nav-pills" style="float: right;">
          <li class="nav-item">
            <button class="nav-link btn btn-light" style="background-color: #FE9404; color: white !important;" *ngIf="techarticle.articlepaymentindcd=='Y'" data-toggle="modal" data-target="#buynowModal"
            (click)="buyNowModelClick(techarticle)">Buy Now</button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-light" style="background-color: #B3B3B3; color: black !important;" *ngIf="techarticle.articlepaymentindcd=='N'">View/Download full Article</button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-light" style="background-color: black; color: white !important;" data-toggle="modal" data-target="#commentsModal"
              (click)="showTechstuvationcomments(techarticle)">Comments</button>
          </li>
        </ul> -->
      </div>
    </div>

  </div>
</div>
<br />

<div id="showStuvationDiscussionModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="max-width : 70% !important;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Discussions</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeCommentsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="card" *ngFor="let stuvationcomment of stuvationcomments; let i = index; ">
          <div class="card-body row" style="font-size: 1.3rem;">
            <div class="col-8">
              <div class="row" *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid ">
                <div class="col-3">
                  <img class="profilepicture"
                    src="assets/images/profileImages/{{getLoggedInUserObject()['profilepicture']}}">
                  <br />&nbsp;&nbsp;{{stuvationcomment.name | titlecase}}
                </div>
                <div class="col-9 align-self-center">

                  <b>Comment</b> :
                  <span
                    *ngIf="(selectedStuvation.editClicked=='N' ||  selectedStuvation.editClicked=='' || selectedStuvation.editClicked==undefined)">
                    {{stuvationcomment.comment}}</span>
                  <textarea style="width: 100%;"
                    *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && selectedStuvation.editClicked=='Y'"
                    [(ngModel)]="stuvationcomment.comment" placeholder="500 Characters" maxlength="500"></textarea>
                </div>
              </div>
              <div *ngIf="getLoggedInUserObject()['userid']!=stuvationcomment.userid "><b>Name</b> :
                &nbsp;&nbsp;{{stuvationcomment.name}}
                <br />
                <b>Comment</b> :

                <span
                  *ngIf="(selectedStuvation.editClicked=='N' ||  selectedStuvation.editClicked=='' || selectedStuvation.editClicked==undefined)">
                  {{stuvationcomment.comment}}</span>
                <textarea style="width: 100%;"
                  *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && selectedStuvation.editClicked=='Y'"
                  [(ngModel)]="stuvationcomment.comment" placeholder="500 Characters" maxlength="500"></textarea>

              </div>


            </div>
            <div class="col-4" style="color:black">
              <!-- <span style="font-size: 0.7em;"><b>Comment Date </b>: {{stuvationcomment.createdon}}</span><br /> -->
              <span style="font-size: 0.7em;"><b>Comment Date</b> : {{stuvationcomment.updatedon}}</span>
              <br />
              <button
                *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && selectedStuvation.editClicked=='Y'"
                class="btn btn-light" style="background-color: #33099e;height: 2.5em;color:white"
                (click)="commentOperation(selectedStuvation.stuvationid, stuvationcomment.id, stuvationcomment.comment, 'U')">
                Save
              </button>
              <button
                *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && (selectedStuvation.editClicked=='N' ||  selectedStuvation.editClicked=='' || selectedStuvation.editClicked==undefined)"
                class="btn btn-light" style="background-color: #33099e;height: 2.5em;color:white"
                (click)="selectedStuvation.editClicked='Y'">
                Edit
              </button>
              <button
                *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && (selectedStuvation.editClicked=='N' ||  selectedStuvation.editClicked=='' || selectedStuvation.editClicked==undefined)"
                class="btn btn-light" style="background-color: #33099e;height: 2.5em;color:white"
                (click)="commentOperation(selectedStuvation.stuvationid, stuvationcomment.id, null, 'D')">
                Delete
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body row">
            <div class="col-10">
              <textarea style="width: 100%;" [(ngModel)]="commentToBeAdded" placeholder="500 Characters"
                maxlength="500"></textarea>
            </div>
            <div class="col-2">
              <button class="btn btn-light" [disabled]="commentToBeAdded==''"
                style="background-color: #33099e;height: 2.5em;color:white"
                (click)="commentOperation(selectedStuvation.stuvationid, null, commentToBeAdded, 'A')">
                Add Comment
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div id="showJoinTeamPopupModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="max-width : 50% !important;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Connect & Join as a Team</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeJoinTeamPopupModal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="selectedStuvation!=undefined" style="
      text-align: center;
      align-items: center;
  ">
        <input type="radio" [(ngModel)]="joinAsRadio" name="joinAsRadio" selected value="1">&nbsp;
        Join Team&nbsp;&nbsp;
        <input type="radio" [(ngModel)]="joinAsRadio" name="joinAsRadio" value="2">&nbsp; Connect with Creator
        <br /><br />
        <div *ngIf="joinAsRadio==1">
          <span style="margin-left:-1.5em;">Role : <select [(ngModel)]="joinTeamAsModel" style="width: 12.5em;">
              <option value="Professional Guide"
                *ngIf="selectedStuvation.lookingProfessorGuidance=='Y' && selectedStuvation.projectStatus=='ongoing'">
                Professional
                Guide</option>
              <option value="Mentor" *ngIf="selectedStuvation.lookingMentorship=='Y'">Mentor</option>
              <option value="Student Partner"
                *ngIf="selectedStuvation.lookingStudentPartner=='Y' && selectedStuvation.projectStatus=='ongoing'">
                Student
                Partner</option>
              <option value="Sponsor"
                *ngIf="selectedStuvation.lookingSponsorship=='Y' && selectedStuvation.projectStatus=='ongoing'">Sponsor
              </option>
            </select>
          </span>
          <br /><br />
          <textarea [(ngModel)]="joinTeamAsConnectModel" placeholder="Max 1000 words" maxlength="1000"
            style="width: 15em; height: 15em;">
            </textarea>
          &nbsp;&nbsp;
          <br />
          <button class="btn btn-light" [disabled]="joinTeamAsModel==''"
            style="background-color: #33099e;height: 2.5em; color: white;"
            (click)="joinTeamOperation(selectedStuvation.stuvationid, joinTeamAsModel, joinTeamAsConnectModel)">
            JOIN
          </button>
        </div>
        <div *ngIf="joinAsRadio==2">
          <textarea [(ngModel)]="stuvationConnectModel" placeholder="Max 1000 words" maxlength="1000"
            style="width: 25em; height: 25em;">
            </textarea>
          <br />
          <button class="btn btn-light" [disabled]="stuvationConnectModel==''"
            style="background-color: #33099e;height: 2.5em;color: white;"
            (click)="stuvationConnectOperation(selectedStuvation.stuvationid, stuvationConnectModel)">
            CONNECT
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
<script>
  const st = {};

  st.flap = document.querySelector('#flap');
  st.toggle = document.querySelector('.toggle');

  st.choice1 = document.querySelector('#choice1');
  st.choice2 = document.querySelector('#choice2');

  st.flap.addEventListener('transitionend', () => {

    if (st.choice1.checked) {
      st.toggle.style.transform = 'rotateY(-15deg)';
      setTimeout(() => st.toggle.style.transform = '', 400);
    } else {
      st.toggle.style.transform = 'rotateY(15deg)';
      setTimeout(() => st.toggle.style.transform = '', 400);
    }

  })

  st.clickHandler = (e) => {

    if (e.target.tagName === 'LABEL') {
      setTimeout(() => {
        st.flap.children[0].textContent = e.target.textContent;
      }, 250);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    st.flap.children[0].textContent = st.choice2.nextElementSibling.textContent;
  });

  document.addEventListener('click', (e) => st.clickHandler(e));
</script>