.tec_mdl {
    text-align: center;
}
.tec_mdl .btn{
    margin: 0 auto;
}
.tec_ryt {
    text-align: right;
}
.t-ryt{
    display: inline-flex; 
}

.t-ryt h5{
    color: #33099e;
}

.tec_ryt li.nav-item {
    display: inline-block;
    margin: 0px 5px;
}
.stuv_titl h3{   
    color: #33099e;
    padding: .5em;
    width: fit-content;
    border-radius: 0em 1em 0em 1em;
    padding-left: 0.5em;
    padding-right: 1em;
    font-size: 1.5em;
}
.col-md-3.col-sm-3.t-ryt h5 {
    font-size: 1.1em;
    margin: 10px 0px;
    color: #212121;
}

.buttonarticle{
    display: block;
    border: none;
    cursor: pointer;
    color: white !important;
    height: 41px;
        padding: 0 11px;
        font-size: 66px;
        font-size: 17px;
        margin-top: 10px;
        border-radius: 33px;
        color: #ffff;
        background: rgba(51,9,158,1);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,9,158,1)), color-stop(47%, rgba(51,9,158,1)), color-stop(100%, rgba(192,39,230,1)));
        background: linear-gradient(to right, rgba(51,9,158,1) 0%, rgba(51,9,158,1) 47%, rgba(192,39,230,1) 100%);
    }
    .tec_ryt .nav-pills{
        display: initial;
    }

    .filter-divs
{
    margin-top: 80px;
}

.radio-btns{
    background: #33099e;
    width: 20%;
    padding: 8px;
    border-radius: 48px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
    }
    
    .fa-check{
        position: absolute;
        left: 17px;
        top: 4px;
        color: white;
    }

    .buttonarticle{
        margin: auto;
        display: block;
        padding: 8px;
        border: none;
        cursor: pointer;
        margin-top: 45px;
        color: white !important;
        height: 41px;
            padding: 0 11px;
            font-size: 66px;
            font-size: 17px;
            margin-top: 19px;
            border-radius: 33px;
            color: #ffff;
            background: rgba(51,9,158,1);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,9,158,1)), color-stop(47%, rgba(51,9,158,1)), color-stop(100%, rgba(192,39,230,1)));
            background: linear-gradient(to right, rgba(51,9,158,1) 0%, rgba(51,9,158,1) 47%, rgba(192,39,230,1) 100%);
        }

        .card{
            border: 1px solid #3e0aa5;
    margin-bottom: 25px;
    box-shadow: 5px 9px 13px -6px rgba(0, 0, 0, .3) !important;
        }
/***************mediaquaries*********/

@media screen and (min-width: 320px) and (max-width: 567px) {
    .tec_ryt {
        text-align: center;
    }
  }
  
  @media screen and (min-width: 360px) and (max-width: 539px) {}
  
  @media screen and (min-width: 460px) and (max-width: 767px) {}
  
  @media only screen and (min-width: 540px) and (max-width: 767px) {}
  
  @media only screen and (min-width: 768px) and (max-width: 959px) {}
  
  @media only screen and (min-width: 799px) and (max-width: 960px) {}
  
  @media only screen and (min-width: 960px) and (max-width: 1023px) {}
  
  @media only screen and (min-width: 1024px) and (max-width: 1280px) {}
  
  @media only screen and (min-width: 1280px) and (max-width: 1365px) {}
  
  @media screen and (max-width: 1600px) {}