<div class="row tech-bank-filters" style="background-color: #F4F6F5; height: 4em; ">
  <div class="col-md-4 col-sm-12 col-xs-12">
    &nbsp;
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <h2 class="text-center" style="position: relative;
    top: 11px;
    color: #420aa7;">Stuvations</h2>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="!checkLoginStatus()" style="display:inline-flex">
    <button type="button" class="btn btn-primary buttonarticle"
      style="background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
      data-target="#createProjectModal">Create Academic Proz</button> &nbsp;&nbsp;
    <button type="button" class="btn btn-primary buttonarticle"
      style="background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
      data-target="#createStuvationModal">Create Innovation Proz</button>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="checkLoginStatus()" style="display:inline-flex">
    <button type="button" class="btn btn-primary buttonarticle"
      style="background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
      data-target="#loginAlertModal">Create Academic Proz</button> &nbsp;&nbsp;
    <button type="button" class="btn btn-primary buttonarticle"
      style="background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
      data-target="#loginAlertModal">Create Innovation Proz</button>
  </div>
</div>

<div id="techArticleFilterDiv" class="row filter-divs">

  <div class="col-md-6">

    <input type="text" class="form-control filter-input" placeholder="Search with Name.." name="techarticledetails"
      [(ngModel)]="stuvationFilter.title" *ngIf="showKeyword" />


    <!-- <input type="text" class="form-control filter-input" placeholder="Search with Article Title.."
      name="techarticledetails" [(ngModel)]="stuvationFilter.project_type" *ngIf="showArticle" /> -->

    <!-- <input type="text" class="form-control filter-input" placeholder="Search with Technology.."
      name="techarticledetails" [(ngModel)]="stuvationFilter.technology" *ngIf="showTechnology" />

    <input type="text" class="form-control filter-input" placeholder="Search with sub Technology.."
      name="techarticledetails" [(ngModel)]="stuvationFilter.sub_technology" *ngIf="showSubTech" /> -->

    <select type="text" class="form-control filter-input" *ngIf="showTechnology"
      [(ngModel)]="stuvationFilter.technology" name="technology_id">
      <option *ngFor="let technology of technologyList; let i = index;">
        {{technology.name}}</option>
    </select>

    <select type="text" class="form-control filter-input" *ngIf="showSubTech"
      [(ngModel)]="stuvationFilter.sub_technology">
      <option *ngFor="let subtechnology of subtechnologylist; let i = index; ">{{subtechnology.name}}</option>
    </select>

  </div>
  <div class="col-md-6">
    <div class="row m-row" style="font-size: 1rem;">
      <div class="col-4">
        <p (click)="selectKeyword()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showKeyword"></i> Keyword</p>
        <!-- <input type="checkbox" class="techBankEventCheckbox" name="keywordFilter" [(ngModel)]="keywordFilter"
          value="Keyword">&nbsp;Keyword -->
      </div>
      <div class="col-4">

        <p (click)="selectType()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showArticle"></i> Type</p>
        <!-- <input type="checkbox" name="articleTypeFilter" class="techBankEventCheckbox" [(ngModel)]="articleTypeFilter"
          value="Type">&nbsp;Type -->
      </div>
      <div class=" col-4">
        <p (click)="selectTechnology()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showTechnology"></i>Technology</p>
        <!-- <input type="checkbox" name="techFilter" class="techBankEventCheckbox" [(ngModel)]="techFilter"
          value="Technology">&nbsp;Technology -->
      </div>
      <div class=" col-4">
        <p (click)="selectSubTechnology()"> <span class="radio-btns">&nbsp;</span><span
            class="white-radio">&nbsp;</span><i class="fa fa-check" *ngIf="showSubTech"></i>SubTechnology</p>
        <!-- <input type="checkbox" name="subTechFilter" class="techBankEventCheckbox" [(ngModel)]="subTechFilter"
          value="SubTechnology">&nbsp;SubTechnology -->
      </div>


    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="margin-top: 1em;">
      <div class="card" style="width: 100%;"
        *ngFor="let stuvation of ResponseData | filterBy:stuvationFilter ; let i = index;">
        <div class="card-body">

          <div class="row" style="margin-top: -20px;">

            <div class="col-md-12 col-sm-12 stuv_titl">
              <div *ngIf="stuvation.project_type!='Innovation'">
                <h3>Title : {{stuvation.title}}</h3>
              </div>
              <div *ngIf="stuvation.project_type=='Innovation'">
                <h3>Idea : {{stuvation.idea}}</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-sm-12 tec_lft">
              <b> Project Type </b> : {{stuvation.project_type}}
              <br />
              <b>Project Status</b> : <span style="color: green; font-weight: bold"
                *ngIf="stuvation.project_status=='completed'">{{stuvation.project_status}}</span>
              <span style="color: #da9101; font-weight: bold" *ngIf="stuvation.project_status=='ongoing'">{{stuvation.project_status
               }}</span><br />
              <b>Technology</b> : {{stuvation?.technology}}
              <br />
              <b>Sub-Technology</b> : {{stuvation?.sub_technology}}
              <div *ngIf="stuvation.project_type=='Innovation'">
                <br />
                <b>Idea</b> : {{stuvation?.idea}}
                <br />
                <b>Idea Description</b> : {{stuvation?.ideaDescription}}

              </div>
              <br />
              <div *ngIf="stuvation.project_status=='ongoing'">

                <b>Prototype Available ?</b> : {{stuation?.prototype_available}}
                <br />
                <b>Reference Link</b> : {{stuation?.ref_link}}
                <br />
                <b>Expected Budget</b> : {{stuation?.exp_budget}}
                <br />
                <b>Team Size</b> : {{stuation?.team_size}}<br />
                <b>Student Partner Last Date Of Joining</b> :
                <br />
                <div *ngIf="stuvation.project_type=='Innovation'">
                  <b>Idea Description</b> : {{stuvation?.idea_desc}}
                </div>

              </div>
              <div style="text-align:justify">
                <!-- *ngIf="stuvation.project_type!='Innovation'" -->
                <b>Abstract</b> : {{stuvation?.abstract}}
              </div>

            </div>
            <div class="col-md-3 col-sm-6 tec_mdl">

              <div>
                <img class="profilepicture" [src]="image_path + stuvation.profile_image" alt="Card image cap">
              </div>
              <div>
                <b>{{stuvation.user_name | uppercase}}</b>
                <br />
                <span style="font-size: 0.85rem;">{{stuvation.follow_count}} followers</span>
                <br />

              </div>

              <div class="lke-dis">
                <button *ngIf="!checkLoginStatus()" class="btn btn-light buttonarticle"
                  (click)="likeStuation(stuvation.stuvation_id,stuvation.like_count,stuvation.user_id)"
                  style="display:inline">
                  {{stuvation.like_count}}
                  <img src="../assets/images/thumbsUp.png" alt="Card image cap" style="height:15px;">
                </button>
                &nbsp;&nbsp;

              </div>


            </div>

            <div class="col-md-3 tec_ryt">

              <ul *ngIf="!checkLoginStatus()" class="nav nav-pills">



                <li class="nav-item" style="margin-left:2%">
                  <button *ngIf="!checkLoginStatus() && stuvation.is_followed== 'FALSE'"
                    class="nav-link btn btn-light buttonarticle"
                    style=" margin-left: 0 !important; color: white !important;"
                    (click)="followerUpdate(stuvation.stuvation_id,'1');">Follow</button> </li>

                <li class="nav-item" style="margin-left:2%">
                  <button *ngIf="!checkLoginStatus() && stuvation.is_followed== 'TRUE'"
                    class="nav-link btn btn-light buttonarticle"
                    style=" margin-left: 0 !important; color: white !important;"
                    (click)="followerUpdate(stuvation.stuation_id,'2');">Unfollow</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link btn btn-light commentbutton buttonarticle" data-toggle="modal"
                    data-target="#showStuvationDiscussionModal"
                    (click)="showstuvationComments(stuvation)">Discussions</button>
                </li>

                <li class="nav-item" *ngIf="stuvation.project_status=='ongoing'">
                  <button class="nav-link btn btn-light commentbutton buttonarticle" data-toggle="modal"
                    data-target="#showJoinTeamPopupModal" (click)="showJoinTeamPopup(stuvation)">Connect
                    &amp; Join as a Team</button>
                </li>


              </ul>
            </div>


            <!-- <div class="col-md-4 col-sm-12 tec_ryt">
              <div><b>Created On</b> : {{stuvation.createdon}}</div>
              <br />

              <ul *ngIf="!checkLoginStatus()" class="nav nav-pills ">
                <li class="nav-item">
                  <button
                    *ngIf="!checkLoginStatus() && stuvation.isFollowed==0 && getLoggedInUserObject()['userid']!=stuvation.userid"
                    class="nav-link btn btn-light buttonarticle"
                    (click)="followerUpdate(stuvation.userId,'F');">Follow</button>
                  <button
                    *ngIf="!checkLoginStatus() && stuvation.isFollowed==1 && getLoggedInUserObject()['userid']!=stuvation.userid"
                    class="nav-link btn btn-light buttonarticle"
                    (click)="followerUpdate(stuvation.userId,'U');">Unfollow</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link btn btn-light buttonarticle"
                    style="background-color: #33099e; color: white !important;" data-toggle="modal"
                    data-target="#showStuvationDiscussionModal"
                    (click)="showStuvationComments(stuvation)">Discussions</button>
                </li><br />
                <li class="nav-item">
                  <button class="nav-link btn btn-light buttonarticle"
                    style="background-color: #FE9404; color: white !important;" data-toggle="modal"
                    data-target="#showJoinTeamPopupModal" (click)="showJoinTeamPopup(stuvation)">Connect
                    &amp; Join as a Team</button>
                </li>
              </ul>
            </div> -->

          </div>


          <!-- <br />

        <button *ngIf="!checkLoginStatus() && stuvation.isFollowed==0 && stuvation.userId!=userId" class=" btn btn-primary"
          style="background-color: #144E80; margin-left: 0 !important; color: white !important;" (click)="followerUpdate(stuvation.userId,'F');">FOLLOW</button>
        <button *ngIf="!checkLoginStatus() && stuvation.isFollowed==1 && stuvation.userId!=userId" class=" btn btn-primary"
          style="background-color: #144E80; margin-left: 0 !important; color: white !important;" (click)="followerUpdate(stuvation.userId,'U');">UNFOLLOW</button>
        <br /> -->




          <!-- <ul *ngIf="!checkLoginStatus()" class="nav nav-pills" style="float: right;">
          <li class="nav-item">
            <button class="nav-link btn btn-light" style="background-color: #FE9404; color: white !important;" *ngIf="techarticle.articlepaymentindcd=='Y'" data-toggle="modal" data-target="#buynowModal"
            (click)="buyNowModelClick(techarticle)">Buy Now</button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-light" style="background-color: #B3B3B3; color: black !important;" *ngIf="techarticle.articlepaymentindcd=='N'">View/Download full Article</button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-light" style="background-color: black; color: white !important;" data-toggle="modal" data-target="#commentsModal"
              (click)="showTechstuvationcomments(techarticle)">Comments</button>
          </li>
        </ul> -->
        </div>
      </div>

    </div>
  </div>
</div>
<br />

<div id="showStuvationDiscussionModal" class="modal fade" role="dialog">
  <div class="modal-dialog stuv-popup">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Article Comments</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeCommentsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="card cmnts" *ngFor="let articlecomment of stuvationcomments; let i = index; ">
          <div class="card-body row">

            <div class="col-md-10 col-sm-12">
              <b>Name</b> :
              {{articlecomment.user_name}}
              <br />
              <b>Comment</b> :
              <span *ngIf="!showEdit">
                {{articlecomment.comment}}</span>
              <textarea style="width: 100%;" *ngIf="showInput" [(ngModel)]="articlecomment.comment" name="comment"
                placeholder="500 Characters" maxlength="500"></textarea>
            </div>

            <div class="col-md-2 col-sm-12">
              <button *ngIf="(userid === articlecomment.user_name) && !showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEdit()">
                Edit
              </button>
              <button *ngIf="(userid === articlecomment.user_name) && showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEditDelete(articlecomment,'edit')">
                Update
              </button>
              <button *ngIf="(userid === articlecomment.user_name) && !showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEditDelete(articlecomment,'delete')">
                Delete
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body row">
            <div class="col--md-10  col-sm-12 col-xs-12">
              <textarea style="width: 100%;" [(ngModel)]="comment" placeholder="500 Characters"
                maxlength="500"></textarea>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
              <button class="btn btn-light commentbutton buttonarticle" [disabled]="comment==''"
                (click)="commentOperation()">
                Add Comment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div id="showStuvationDiscussionModal" class="modal fade" role="dialog">
  <div class="modal-dialog stuv-popup" style="">

    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Discussions</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close " data-dismiss="modal"
          id="closeCommentsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="card" *ngFor="let stuvationcomment of stuvationcomments; let i = index; ">
          <div class="card-body row" style="font-size: 1.3rem;">
            <div class="col-8">
              <div class="row" *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid ">
                <div class="col-3">
                  <img class="profilepicture"
                    src="assets/images/profileImages/{{getLoggedInUserObject()['profilepicture']}}">
                  <br />&nbsp;&nbsp;{{stuvationcomment.user_name | titlecase}}
                </div>
                <div class="col-9 align-self-center">

                  <b>Comment</b> :
                  <span
                    *ngIf="(selectedStuvation.editClicked=='N' ||  selectedStuvation.editClicked=='' || selectedStuvation.editClicked==undefined)">
                    {{stuvationcomment.comment}}</span>
                  <textarea style="width: 100%;"
                    *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && selectedStuvation.editClicked=='Y'"
                    [(ngModel)]="stuvationcomment.comment" placeholder="500 Characters" maxlength="500"></textarea>
                </div>
              </div>
              <div *ngIf="getLoggedInUserObject()['userid']!=stuvationcomment.userid "><b>Name</b> :
                &nbsp;&nbsp;{{stuvationcomment.user_name}}
                <br />
                <b>Comment</b> :

                <span
                  *ngIf="(selectedStuvation.editClicked=='N' ||  selectedStuvation.editClicked=='' || selectedStuvation.editClicked==undefined)">
                  {{stuvationcomment.comment}}</span>
                <textarea style="width: 100%;"
                  *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && selectedStuvation.editClicked=='Y'"
                  [(ngModel)]="stuvationcomment.comment" placeholder="500 Characters" maxlength="500"></textarea>

              </div>


            </div>
            <div class="col-4" style="color:black">
              <span style="font-size: 0.7em;"><b>Comment Date</b> : {{stuvationcomment.updatedon}}</span>
              <br />
              <button
                *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && selectedStuvation.editClicked=='Y'"
                class="btn btn-light" style="background-color: #33099e;height: 2.5em;color:white"
                (click)="commentOperation(selectedStuvation.stuvationid, stuvationcomment.id, stuvationcomment.comment, 'U')">
                Save
              </button>
              <button
                *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && (selectedStuvation.editClicked=='N' ||  selectedStuvation.editClicked=='' || selectedStuvation.editClicked==undefined)"
                class="btn btn-light" style="background-color: #33099e;height: 2.5em;color:white"
                (click)="selectedStuvation.editClicked='Y'">
                Edit
              </button>
              <button
                *ngIf="getLoggedInUserObject()['userid']==stuvationcomment.userid && (selectedStuvation.editClicked=='N' ||  selectedStuvation.editClicked=='' || selectedStuvation.editClicked==undefined)"
                class="btn btn-light" style="background-color: #33099e;height: 2.5em;color:white"
                (click)="commentOperation(selectedStuvation.stuvation_id, stuvationcomment.id, null, 'D')">
                Delete
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body row">
            <div class="col-md-9 col-sm-12">
              <textarea style="width: 100%;" [(ngModel)]="commentToBeAdded" placeholder="500 Characters"
                maxlength="500"></textarea>
            </div>
            <div class="col-md-3 col-sm-12">
              <button class="btn btn-light" [disabled]="commentToBeAdded==''" class="buttonarticle"
                (click)="commentOperation(selectedStuvation.stuvation_id, null, commentToBeAdded, 'A')">
                Add Comment
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div> -->

<div id="showJoinTeamPopupModal" class="modal fade" role="dialog">
  <div class="modal-dialog stuv-popup" style="">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Connect &amp; Join as a Team</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeJoinTeamPopupModal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="selectedStuvation!=undefined" style="
      text-align: center;
      align-items: center;
  ">

        <div class="row" style="display:inline-flex">
          <button type="button" class="btn btn-primary buttonarticle"
            style="background-color: #33099e; color: white;font-weight: bold;" (click)="joinTeam()">Join Team</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-primary buttonarticle"
            style="background-color: #33099e; color: white;font-weight: bold;" (click)="joinTeam1()">Connect with
            Creator</button>
          &nbsp;&nbsp;
        </div>

        <br /><br />
        <div *ngIf="joinAsRadio1">
          <span style="margin-left:-1.5em;">Role : <select [(ngModel)]="joinTeamAsModel" style="width: 12.5em;">
              <option value="Professional Guide"
                *ngIf="selectedStuvation.is_looking_for_guidance=='Yes' && selectedStuvation.project_status=='ongoing'">
                Professional
                Guide</option>
              <option value="Mentor" *ngIf="selectedStuvation.is_looking_for_mentorship=='Y'">Mentor</option>
              <option value="Student Partner"
                *ngIf="selectedStuvation.is_looking_for_student_partner=='Yes' && selectedStuvation.project_status=='ongoing'">
                Student
                Partner</option>
              <option value="Sponsor"
                *ngIf="selectedStuvation.is_looking_for_sponsership=='Yes' && selectedStuvation.project_status=='ongoing'">
                Sponsor
              </option>
            </select>
          </span>
          <br /><br />
          <textarea [(ngModel)]="joinTeamAsConnectModel" placeholder="Max 1000 words" maxlength="1000"
            style="width: 15em; height: 15em;">
            </textarea>
          &nbsp;&nbsp;
          <br />
          <button class="btn btn-light buttonarticle" [disabled]="joinTeamAsModel==''"
            style="background-color: #33099e;height: 2.5em; color: white;"
            (click)="joinTeamOperation(selectedStuvation.stuvation_id, joinTeamAsModel, joinTeamAsConnectModel)">
            JOIN
          </button>
        </div>
        <div *ngIf="joinAsRadio2">
          <textarea [(ngModel)]="stuvationConnectModel" placeholder="Max 1000 words" maxlength="1000"
            style="width: 25em; height: 25em;">
            </textarea>
          <br />
          <button class="btn btn-light buttonarticle" [disabled]="stuvationConnectModel==''"
            style="background-color: #33099e;height: 2.5em;color: white;"
            (click)="joinTeamOperation(selectedStuvation.stuvation_id,'', stuvationConnectModel)">
            CONNECT
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
<script>
  const st = {};

  st.flap = document.querySelector('#flap');
  st.toggle = document.querySelector('.toggle');

  st.choice1 = document.querySelector('#choice1');
  st.choice2 = document.querySelector('#choice2');

  st.flap.addEventListener('transitionend', () => {

    if (st.choice1.checked) {
      st.toggle.style.transform = 'rotateY(-15deg)';
      setTimeout(() => st.toggle.style.transform = '', 400);
    } else {
      st.toggle.style.transform = 'rotateY(15deg)';
      setTimeout(() => st.toggle.style.transform = '', 400);
    }

  })

  st.clickHandler = (e) => {

    if (e.target.tagName === 'LABEL') {
      setTimeout(() => {
        st.flap.children[0].textContent = e.target.textContent;
      }, 250);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    st.flap.children[0].textContent = st.choice2.nextElementSibling.textContent;
  });

  document.addEventListener('click', (e) => st.clickHandler(e));
</script>