<div class="row tech-bank-filters" style="background-color: #F4F6F5; height: 4em; ">
  <div class="col-md-4 col-sm-12 col-xs-12">
    &nbsp;
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <h4 class="text-center title-style">Stuvations (Student + Innovation)</h4>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="!checkLoginStatus()" style="display:inline-flex">
    <button type="button" class="btn btn-primary buttonarticle"
      style="background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
      data-target="#createProjectModal" (click)="clearDataProz()">Create Academic Proz</button> &nbsp;&nbsp;
    <button type="button" class="btn btn-primary buttonarticle"
      style="background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
      data-target="#createStuvationModal" (click)="clearInProz()">Create Innovation Proz</button>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="checkLoginStatus()" style="display:inline-flex">
    <button type="button" class="btn btn-primary buttonarticle"
      style="background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
      data-target="#loginAlertModal">Create Academic Proz</button> &nbsp;&nbsp;
    <button type="button" class="btn btn-primary buttonarticle"
      style="background-color: #33099e; color: white;font-weight: bold;" data-toggle="modal"
      data-target="#loginAlertModal">Create Innovation Proz</button>
  </div>
</div>

<div id="techArticleFilterDiv" class="row filter-divs">

  <div class="col-md-6">

    <input type="text" class="form-control filter-input" placeholder="Search with Name.." name="techarticledetails"
      [(ngModel)]="stuvationFilter.title" *ngIf="showKeyword" />


    <!-- <input type="text" class="form-control filter-input" placeholder="Search with Project Type.."
      name="techarticledetails" [(ngModel)]="stuvationFilter.project_type" *ngIf="showArticle" /> -->

    <select type="text" class="form-control filter-input" *ngIf="showArticle" [(ngModel)]="stuvationFilter.project_type"
      name="technology_id">
      <option> MINI PROJECT</option>
      <option> MAJOR PROJECT</option>
      <option> MTECH THESIS</option>
      <option> PHD THESIS</option>
      <option> INNOVATION</option>
    </select>

    <!-- <input type="text" class="form-control filter-input" placeholder="Search with Technology.."
      name="techarticledetails" [(ngModel)]="stuvationFilter.technology" *ngIf="showTechnology" />

    <input type="text" class="form-control filter-input" placeholder="Search with sub Technology.."
      name="techarticledetails" [(ngModel)]="stuvationFilter.sub_technology" *ngIf="showSubTech" /> -->

    <select type="text" class="form-control filter-input" *ngIf="showTechnology"
      [(ngModel)]="stuvationFilter.technology" name="technology_id">
      <option *ngFor="let technology of technologyList; let i = index;">
        {{technology.name}}</option>
    </select>

    <select type="text" class="form-control filter-input" *ngIf="showSubTech"
      [(ngModel)]="stuvationFilter.sub_technology">
      <option *ngFor="let subtechnology of subtechnologylist; let i = index; ">{{subtechnology.name}}</option>
    </select>

  </div>
  <div class="col-md-6">
    <div class="row m-row" style="font-size: 1rem;">
      <div class="col-4">
        <p (click)="selectKeyword()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showKeyword"></i> Keyword</p>
        <!-- <input type="checkbox" class="techBankEventCheckbox" name="keywordFilter" [(ngModel)]="keywordFilter"
          value="Keyword">&nbsp;Keyword -->
      </div>
      <div class="col-4">

        <p (click)="selectType()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showArticle"></i> Type</p>
        <!-- <input type="checkbox" name="articleTypeFilter" class="techBankEventCheckbox" [(ngModel)]="articleTypeFilter"
          value="Type">&nbsp;Type -->
      </div>
      <div class=" col-4">
        <p (click)="selectTechnology()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showTechnology"></i>Technology</p>
        <!-- <input type="checkbox" name="techFilter" class="techBankEventCheckbox" [(ngModel)]="techFilter"
          value="Technology">&nbsp;Technology -->
      </div>
      <div class=" col-4">
        <p (click)="selectSubTechnology()"> <span class="radio-btns">&nbsp;</span><span
            class="white-radio">&nbsp;</span><i class="fa fa-check" *ngIf="showSubTech"></i>SubTechnology</p>
        <!-- <input type="checkbox" name="subTechFilter" class="techBankEventCheckbox" [(ngModel)]="subTechFilter"
          value="SubTechnology">&nbsp;SubTechnology -->
      </div>


    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="margin-top: 1em;">
      <div class="card" style="width: 100%;"
        *ngFor="let stuvation of ResponseData | filterBy:stuvationFilter ; let i = index;">
        <div class="card-body">

          <div class="row" style="margin-top: -20px;">

            <div class="col-md-12 col-sm-12 stuv_titl">
              <div *ngIf="stuvation.project_type!='Innovation'">
                <h3>Title : {{stuvation.title}}</h3>
              </div>
              <div *ngIf="stuvation.project_type=='Innovation' && stuvation.idea!==''">
                <h3>Idea : {{stuvation.idea}}</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-sm-12 tec_lft">
              <span *ngIf="stuvation.project_type!=''"><b> Project Type </b> : {{stuvation.project_type}}
                <br /></span>
              <b>Project Status</b> : <span style="color: green; font-weight: bold"
                *ngIf="stuvation.project_status=='completed'">{{stuvation.project_status}} <br /></span>
              <span style="color: #da9101; font-weight: bold" *ngIf="stuvation.project_status=='ongoing'">{{stuvation.project_status
               }}<br /></span>
              <b>Technology</b> : {{stuvation?.technology}}

              <span *ngIf="stuvation.sub_technology!=null">
                , <b>Sub-Technology</b> :
                {{stuvation?.sub_technology}} </span>
              <div>

                <span *ngIf="stuvation.idea!==''"> <b>Idea</b> : {{stuvation?.idea}} <br /></span>

                <span *ngIf="stuvation.idea_desc!==''"> <b>Idea Description</b> :
                  {{stuvation?.idea_desc}}</span>

              </div>
              <div>

                <span *ngIf="stuvation.prototype_available!==''"><b>Prototype Available </b> :
                  {{stuvation?.prototype_available}} <br /></span>

                <span *ngIf="stuvation.ref_link!=''"><b>Reference Link</b> : {{stuvation?.ref_link}}
                  <br /></span>
                <span *ngIf="stuvation.exp_budget!=''"> <b>Expected Budget</b> : {{stuvation?.exp_budget}}
                  <br /></span>
                <span *ngIf="stuvation.team_size!='0'"><b>Team Size</b> : {{stuvation?.team_size}}<br />
                  <b>Student Partner Last Date Of Joining</b> : {{stuvation?.last_date_of_joining}}
                  <br /></span>
                <div *ngIf="stuvation?.idea_desc=='Innovation' && stuvation.idea_desc!=''">
                  <span> <b>Idea Description</b> :
                    {{stuvation?.idea_desc}}</span>
                </div>

              </div>
              <div *ngIf="stuvation.abstract!= 'undefined'">
                <!-- *ngIf="stuvation.project_type!='Innovation'" -->
                <span> <b>Abstract</b> : {{stuvation?.abstract}}</span>
              </div>

            </div>
            <div class="col-md-3 col-sm-6 tec_mdl">

              <div>
                <img class="profilepicture" *ngIf="stuvation.profile_image!=''"
                  [src]="image_path + stuvation.profile_image" alt="Card image cap">
                <img class="profilepicture" *ngIf="stuvation.profile_image==''" src="../assets/images/user-dummy.png"
                  alt="Profile Pic">
              </div>
              <div>
                <b> <a [routerLink]="['/myprofile',stuvation.user_id]"
                    style="color: black">{{stuvation.user_name | uppercase}}</a></b>
                <br />
                <span style="font-size: 0.85rem;">{{stuvation.follow_count}} followers</span>
                <br />

              </div>

              <div class="lke-dis" *ngIf="stuvation.user_id != getLoggedInUserObject()['user_id']">
                <button *ngIf="!checkLoginStatus() && stuvation.is_followed== 'FALSE'"
                  class="nav-link btn btn-light buttonarticle" style="color: white !important;"
                  (click)="followerUpdate(stuvation.stuvation_id,stuvation.user_id,'1');">Follow</button>



                <button *ngIf="!checkLoginStatus() && stuvation.is_followed== 'TRUE'"
                  class="nav-link btn btn-light buttonarticle" style="color: white !important;"
                  (click)="followerUpdate(stuvation.stuvation_id,stuvation.user_id,'2');">Unfollow</button>

              </div>


            </div>

            <div class="col-md-3 tec_ryt">

              <ul *ngIf="!checkLoginStatus()" class="nav nav-pills">



                <li class="nav-item" style="margin-left:2%">
                  <button *ngIf="!checkLoginStatus()" class="btn btn-light buttonarticle"
                    (click)="likeStuation(stuvation.stuvation_id,stuvation.like_count,stuvation.user_id)">
                    {{stuvation.like_count}}
                    <img src="../assets/images/thumbsUp.png" alt="Card image cap" style="height:15px;">
                  </button>
                </li>


                <li class="nav-item">
                  <button class="nav-link btn btn-light commentbutton buttonarticle" data-toggle="modal"
                    data-target="#showStuvationDiscussionModal"
                    (click)="showstuvationComments(stuvation)">Discussions</button>
                </li>

                <li class="nav-item" *ngIf="stuvation.project_status=='ongoing'">
                  <button class="nav-link btn btn-light commentbutton buttonarticle" data-toggle="modal"
                    data-target="#showJoinTeamPopupModal" (click)="showJoinTeamPopup(stuvation)">Connect
                    &amp; Join as a Team</button>
                </li>


                <li class="nav-item" *ngIf="stuvation.cfile!=''">
                  <a [href]="file_path + stuvation.cfile" target="_blank" download>
                    <button class="nav-link btn btn-light veiwbutton buttonarticle" data-toggle="modal">View /
                      Download
                    </button>
                  </a>
                </li>





              </ul>
            </div>



          </div>



        </div>
      </div>

    </div>
  </div>
</div>
<br />

<div id="showStuvationDiscussionModal" class="modal fade" role="dialog">
  <div class="modal-dialog stuv-popup">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Article Comments</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeCommentsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="card cmnts" *ngFor="let articlecomment of stuvationcomments; let i = index; ">
          <div class="card-body row">

            <div class="col-md-10 col-sm-12">
              <b>Name</b> :
              <a [routerLink]="['/myprofile',articlecomment.user_id]">{{articlecomment.user_name}}</a>
              <br />
              <b>Comment</b> :
              <span *ngIf="!showEdit">
                {{articlecomment.comment}}</span>
              <textarea style="width: 100%;" *ngIf="showInput" [(ngModel)]="articlecomment.comment" name="comment"
                placeholder="500 Characters" maxlength="500"></textarea>
            </div>

            <div class="col-md-2 col-sm-12">
              <button *ngIf="(userid === articlecomment.user_name) && !showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEdit()">
                Edit
              </button>
              <button *ngIf="(userid === articlecomment.user_name) && showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEditDelete(articlecomment,'edit')">
                Update
              </button>
              <button *ngIf="(userid === articlecomment.user_name) && !showInput" class="btn btn-light"
                style="background-color: #e6e5e5;height: 2.5em;" (click)="commentsEditDelete(articlecomment,'delete')">
                Delete
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body row">
            <div class="col--md-10  col-sm-12 col-xs-12">
              <textarea style="width: 100%;" [(ngModel)]="comment" placeholder="500 Characters"
                maxlength="500"></textarea>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
              <button class="btn btn-light commentbutton buttonarticle" [disabled]="comment==''"
                (click)="commentOperation()">
                Add Comment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="showJoinTeamPopupModal" class="modal fade" role="dialog">
  <div class="modal-dialog stuv-popup">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Connect &amp; Join as a Team</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeJoinTeamPopupModal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="selectedStuvation!=undefined" style="
      text-align: center;
      align-items: center;
  ">

        <div class="row" style="display:inline-flex">
          <button type="button" class="btn btn-primary buttonarticle"
            style="background-color: #33099e; color: white;font-weight: bold;" (click)="joinTeam()">Join Team</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-primary buttonarticle"
            style="background-color: #33099e; color: white;font-weight: bold;" (click)="joinTeam1()">Connect with
            Creator</button>
          &nbsp;&nbsp;
        </div>

        <br /><br />
        <div *ngIf="joinAsRadio1">
          <span style="margin-left:-1.5em;">Role : <select [(ngModel)]="joinTeamAsModel" style="width: 12.5em;">
              <option value="Professional Guide"
                *ngIf="selectedStuvation.is_looking_for_guidance=='Yes' && selectedStuvation.project_status=='ongoing'">
                Professional
                Guide</option>
              <option value="Mentor"
                *ngIf="selectedStuvation.is_looking_for_mentorship=='Yes'  && selectedStuvation.project_status=='ongoing'">
                Mentor</option>
              <option value=" Student Partner"
                *ngIf="selectedStuvation.is_looking_for_student_partner=='Yes' && selectedStuvation.project_status=='ongoing'">
                Student
                Partner</option>
              <option value="Sponsor"
                *ngIf="selectedStuvation.is_looking_for_sponsership=='Yes' && selectedStuvation.project_status=='ongoing'">
                Sponsor
              </option>
            </select>
          </span>
          <br /><br />
          <textarea [(ngModel)]="joinTeamAsConnectModel" placeholder="Max 1000 words" maxlength="1000"
            style="width: 15em; height: 15em;">
            </textarea>
          &nbsp;&nbsp;
          <br />
          <button class="btn btn-light buttonarticle" [disabled]="joinTeamAsModel==''"
            style="background-color: #33099e;height: 2.5em; color: white;"
            (click)="joinTeamOperation(selectedStuvation.stuvation_id, joinTeamAsModel, joinTeamAsConnectModel)">
            JOIN
          </button>
        </div>
        <div *ngIf="joinAsRadio2">
          <textarea [(ngModel)]="stuvationConnectModel" placeholder="Max 1000 words" maxlength="1000"
            style="width: 25em; height: 25em;">
            </textarea>
          <br />
          <button class="btn btn-light buttonarticle" [disabled]="stuvationConnectModel==''"
            style="background-color: #33099e;height: 2.5em;color: white;"
            (click)="joinTeamOperation(selectedStuvation.stuvation_id,'', stuvationConnectModel)">
            CONNECT
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
<script>
  const st = {};

  st.flap = document.querySelector('#flap');
  st.toggle = document.querySelector('.toggle');

  st.choice1 = document.querySelector('#choice1');
  st.choice2 = document.querySelector('#choice2');

  st.flap.addEventListener('transitionend', () => {

    if (st.choice1.checked) {
      st.toggle.style.transform = 'rotateY(-15deg)';
      setTimeout(() => st.toggle.style.transform = '', 400);
    } else {
      st.toggle.style.transform = 'rotateY(15deg)';
      setTimeout(() => st.toggle.style.transform = '', 400);
    }

  })

  st.clickHandler = (e) => {

    if (e.target.tagName === 'LABEL') {
      setTimeout(() => {
        st.flap.children[0].textContent = e.target.textContent;
      }, 250);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    st.flap.children[0].textContent = st.choice2.nextElementSibling.textContent;
  });

  document.addEventListener('click', (e) => st.clickHandler(e));
</script>