<div class="row tech-bank-filters" style="background-color: #F4F6F5; height: auto; ">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4 text1">
    <h2 class="text-center tch-m-hdng">Tech Connect Programmes</h2>
  </div>
  <div class="col-md-4">
    <button *ngIf="!checkLoginStatus()" type="button" data-toggle="modal" class="buttonarticle"
      data-target="#createTechConnectModal" style="margin:auto;display:block;float:initial;margin-top:10px;">
      Create Tech Connect</button>
  </div>
</div>

<div id="techBankEventFilterDiv" class="row filter-divs" *ngIf="!checkLoginStatus()">

  <div class="col-md-5">

    <input type="text" class="form-control filter-input" placeholder="Search with Name.." name="techarticledetails"
      [(ngModel)]="techEventFilter.user_name" *ngIf="showKeyword" />


    <input type="text" class="form-control filter-input" placeholder="Search with Technology.."
      name="techarticledetails" [(ngMode l)]="techEventFilter.technology" *ngIf="showTechnology" />

    <input type="text" class="form-control filter-input" placeholder="Search with sub Technology.."
      name="techarticledetails" [(ngModel)]="techEventFilter.sub_technology" *ngIf="showSubTech" />



  </div>
  <div class="col-md-7 fltrs">
    <div class="row" style="font-size: 1rem;">
      <div class="col-4">
        <p (click)="selectKeyword()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showKeyword"></i> Keyword</p>
        <!-- <input type="checkbox" class="techBankEventCheckbox" name="keywordFilter" [(ngModel)]="keywordFilter"
          value="Keyword">&nbsp;Keyword -->
      </div>

      <div class=" col-4">
        <p (click)="selectTechnology()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showTechnology"></i>Technology</p>
        <!-- <input type="checkbox" name="techFilter" class="techBankEventCheckbox" [(ngModel)]="techFilter"
          value="Technology">&nbsp;Technology -->
      </div>
      <div class=" col-4">
        <p (click)="selectSubTechnology()"> <span class="radio-btns">&nbsp;</span><span
            class="white-radio">&nbsp;</span><i class="fa fa-check" *ngIf="showSubTech"></i>SubTechnology</p>
        <!-- <input type="checkbox" name="subTechFilter" class="techBankEventCheckbox" [(ngModel)]="subTechFilter"
          value="SubTechnology">&nbsp;SubTechnology -->
      </div>

    </div>
  </div>
</div>

<br />
<div class="container-fluid" style="padding: 2px;">
  <div class="row">
    <div class="col-12">
      <div class="accordion" id="accordionExample" style="margin: 0em; ">
        <div class="card" *ngFor="let techteach of ResponseData | filterBy:techEventFilter ; let i = index; ">
          <div class="card-header" id="teachheading{{1}}" data-toggle="" attr.data-target="#teachcollapse{{i}}"
            aria-expanded="" attr.aria-controls="teachcollapse{{i}}">
            <h5 class="mb-0">
              <button *ngIf="i!=0" class="btn btn-link collapsed" type="button">
                Tech Teach
              </button>
              <button *ngIf="i==0" class="btn btn-link" type="button">
                Tech Teach
              </button>
            </h5>
          </div>

          <div id="teachcollapse{{i}}" [ngClass]="{'show' : i==0}" class="" attr.aria-labelledby="teachheading{{i}}"
            data-parent="#accordionExample">
            <div class="card-body teach-bdy">
              <div class="col-12">

                <span class="cardSubHeading crd-hdng">Tech Connect Details</span>
                <div><b class="crd-lft">Type</b> <span class="crd-ryt">: {{techteach.tech_teach_type}}</span></div>
                <div><b class="crd-lft">Topic</b> <span class="crd-ryt">: {{techteach.topic}}</span></div>
                <div><b class="crd-lft">Abstract</b> <span class="crd-ryt">: {{techteach.abstract}}</span></div>
                <div><b class="crd-lft">Technology</b> <span class="crd-ryt">: {{techteach.technology}}</span></div>
                <div><b class="crd-lft">Sub Technology</b> <span class="crd-ryt">: {{techteach.sub_technology}}</span>
                </div>
                <!-- <div><b class="crd-lft">Created on</b> <span class="crd-ryt">: {{techteach.createdon}}</span></div>
                <div><b class="crd-lft">Event on</b> <span class="crd-ryt">: {{techteach.venuedate}}</span></div>
                <div><b class="crd-lft" style="font-size: 14px;">No.of People Applied</b> <span class="crd-ryt"> :
                    {{techteach.registrationCount}}</span></div> -->
                <br />

                <span class="cardSubHeading crd-hdng">Industrial Expert</span>
                <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techteach.user_name}}</span></div>
                <div><b class="crd-lft">Company</b> <span class="crd-ryt">:
                    {{techteach.company}}</span></div>
                <div><b class="crd-lft">Positionl</b> <span class="crd-ryt" style="font-size: 14px;">:
                    {{techteach.position}}</span></div>
                <br />

                <span class="cardSubHeading crd-hdng">Venue Details</span>
                <div><b class="crd-lft">Place</b> <span class="crd-ryt">: {{techteach.place}}</span></div>
                <div><b class="crd-lft">Address</b> <span class="crd-ryt">: {{techteach.address}}</span>
                </div>
                <div><b class="crd-lft" style="font-size: 13px;">City</b> <span class="crd-ryt">:
                    {{techteach.city}}</span></div>
                <div><b class="crd-lft">Date</b> <span class="crd-ryt">: {{techteach.event_date}}</span></div>

                <br />

                <span class="cardSubHeading crd-hdng">Registration Details</span>

                <div><b class="crd-lft">No. of Registration</b> <span class="crd-ryt">:
                    {{techteach.seat_capacity}}</span>
                </div>


              </div>
            </div>

            <div class="crd-footr">
              <ul class="nav nav-pills crd-btn-dv">
                <li class="nav-item">
                  <button class="nav-link btn btn-light  buttonarticle" (click)="viewTechTeachDetails(techteach)"
                    data-toggle="modal" data-target="#detailsModal">View
                    Detail's</button>
                </li>
                <li class="nav-item" *ngIf="!checkLoginStatus()">
                  <button class="nav-link btn btn-light buttonarticle" style=""
                    (click)="applyForEventTechTalk(techteach)">Apply for this event</button>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="tech-tlk-contnr">
          <div class="card" *ngFor="let techtalkdata of techtalkdetails | filter:techEventFilter; let i = index; ">
            <div class="card-header" id="talkheading{{1}}" data-toggle="" attr.data-target="#talkcollapse{{i}}"
              aria-expanded="false" attr.aria-controls="talkcollapse{{i}}">
              <h5 class="mb-0">
                <button *ngIf="i!=0 || (i==0 && techteachdetails?.length!=0)" class="btn btn-link collapsed"
                  type="button">
                  Tech Talk
                </button>
                <button *ngIf="i==0 && techteachdetails?.length==0" class="btn btn-link" type="button">
                  Tech Talk
                </button>
              </h5>
            </div>

            <div id="talkcollapse{{i}}" [ngClass]="{'show' : i==0 && techteachdetails?.length==0}" class=""
              attr.aria-labelledby="talkheading{{i}}" data-parent="#accordionExample">
              <div class="card-body talk-bdy">
                <div class="col-12">
                  <span class="cardSubHeading crd-hdng">Tech Connect Details</span>
                  <div><b class="crd-lft">Type</b> <span class="crd-ryt">: {{techtalkdata.tech_talk_type}}</span></div>
                  <div><b class="crd-lft">Topic</b> <span class="crd-ryt">: {{techtalkdata.topic}}</span></div>
                  <div><b class="crd-lft">Abstract</b> <span class="crd-ryt">: {{techtalkdata.abstract}}</span></div>
                  <div><b class="crd-lft">Technology</b> <span class="crd-ryt">: {{techtalkdata.technology}}</span>
                  </div>
                  <div><b class="crd-lft">Sub Technology</b> <span class="crd-ryt">:
                      {{techtalkdata.sub_technology}}</span>
                  </div>

                  <!-- <div><b class="crd-lft">Created on</b> <span class="crd-ryt">: {{techtalkdata.createdon}}</span></div>
                  <div><b class="crd-lft">Event on</b> <span class="crd-ryt">: {{techtalkdata.venuedate}}</span></div>
                  <div><b class="crd-lft" style="font-size: 14px;">No.of People Applied</b> <span class="crd-ryt"> :
                      {{techtalkdata.registrationCount}}</span></div> -->
                  <br />

                  <span class="cardSubHeading crd-hdng">Industrial Expert</span>

                  <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techtalkdata.user_name}}</span></div>
                  <div><b class="crd-lft">Company</b> <span class="crd-ryt">:
                      {{techtalkdata.company}}</span></div>
                  <div><b class="crd-lft">Positionl</b> <span class="crd-ryt" style="font-size: 14px;">:
                      {{techtalkdata.position}}</span></div>



                  <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techtalkdata.user_name}}</span></div>
                  <div><b class="crd-lft">Contact Number</b> <span class="crd-ryt">:
                    </span></div>
                  <div><b class="crd-lft">Email</b> <span class="crd-ryt" style="font-size: 14px;">:
                    </span></div>

                  <br />

                  <span class="cardSubHeading crd-hdng">Venue Details</span>
                  <br />
                  <div><b class="crd-lft">Place</b> <span class="crd-ryt">: {{techtalkdata.place}}</span></div>
                  <div><b class="crd-lft">Address</b> <span class="crd-ryt">: {{techtalkdata.address}}</span></div>
                  <div><b class="crd-lft">City</b> <span class="crd-ryt">: {{techtalkdata.city}}</span></div>
                  <div><b class="crd-lft">Venue Date</b> <span class="crd-ryt">: {{techtalkdata.event_date}}</span>
                  </div>



                  <span class="cardSubHeading crd-hdng">Registration Details</span>

                  <div><b class="crd-lft">No. of Registration</b> <span class="crd-ryt">:
                      {{techtalkdata.seat_capacity}}</span>
                  </div>


                </div>
              </div>

              <div class="crd-footr">
                <ul class="nav nav-pills crd-btn-dv">
                  <li class="nav-item">
                    <button class="nav-link btn btn-light  buttonarticle" (click)="viewTechTalkDetails(techtalkdata)"
                      data-toggle="modal" data-target="#detailsModal">View Detail's</button>
                  </li>
                  <li class="nav-item" *ngIf="!checkLoginStatus()">
                    <button class="nav-link btn btn-light buttonarticle" 
                      (click)="applyForEventTechTalk(techtalkdata)">Apply for the event</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="detailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog createbank">

    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Event Details</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeDetailsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedModel=='techTeach'">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <span>
                <b>Created on</b> : {{selectedTechTeach.created_time}}</span>
              &nbsp;&nbsp;&nbsp; <span>
                <b>Event on</b> : {{selectedTechTeach.event_date}}</span>
              &nbsp;&nbsp;&nbsp; <span>
                <b>Number of people applied</b> : {{selectedTechTeach.seat_capacity}}</span>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Originator</span>
              <br />
              <b>Name</b> : {{selectedTechTeach.user_name}}

              <br />
              <b>Contact Number</b> :
              <br />
              <b>Email</b> :
              <br />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Venue Details</span>
              <br />
              <b>Place</b> : {{selectedTechTeach.place}}
              <br />
              <b>City</b> : {{selectedTechTeach.city}}
              <br />
              <b>Address</b> : {{selectedTechTeach.address}}
              <br />
              <b>Venue Date</b> : {{selectedTechTeach.event_date}}
              <br />
              <b>Time</b> : {{selectedTechTeach.from_time}} TO {{selectedTechTeach.to_time}}
              <br />
              <br />

            </div>

          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Other Details</span>
              <br />
              <b>Tech Teach Type</b> : {{selectedTechTeach.tech_teach_type}}
              <br />
              <b>Tech Teach Topic</b> : {{selectedTechTeach.topic}}
              <br />
              <b>Abstract</b> : {{selectedTechTeach.abstract}}
              <br />
              <b>Industrial Expert</b> : {{selectedTechTeach.speaker_name}}
              <br />
              <b>No. of Years Experience</b> : {{selectedTechTeach.experience}}
              <br />
              <b>Technology Name</b> : {{selectedTechTeach.technology}}
              <br />
              <b>Sub Technology Name</b> : {{selectedTechTeach.sub_technology}}
              <br />
              <br />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Registration Details</span>
              <br />
              <b>Web Address</b> : {{selectedTechTeach.web_address}}
              <br />
              <b>Maximum Registration Count</b> : {{selectedTechTeach.maxregcount}}
              <br />
              <b>Registration Fees</b> : {{selectedTechTeach.reg_fee}} Rs Per Person
              <br />
              <b>Eligibility</b> : {{selectedTechTeach.eligibility}}
              <br />
              <b>Seat Capacity</b> : {{selectedTechTeach.seat_capacity}}
              <br />
              <br />
            </div>
          </div>

          <ul class="nav nav-pills" style="float: right;" *ngIf="!checkLoginStatus()">
            <li class="nav-item">
              <button class="nav-link btn btn-light buttonarticle"
                (click)="applyForEventTechTeach(selectedTechTeach)">Apply for the event</button>
            </li>
          </ul>

        </div>
        <div *ngIf="selectedModel=='techTalk'">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <span>
                <b>Created on</b> : {{selectedTechTalk.created_time}}</span>
              &nbsp;&nbsp;&nbsp;
              <span>
                <b>Event on</b> : {{selectedTechTalk.event_date}}</span>
              &nbsp;&nbsp;&nbsp;
              <span>
                <b>Number of people applied</b> : </span>

            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Originator</span>
              <br />
              <b>Name</b> : {{selectedTechTalk.user_name}}

              <br />
              <b>Contact Number</b> :

              <br />
              <b>Email</b> :
              <br />

              <br />

              <br />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Venue Details</span>
              <br />
              <b>Place</b> : {{selectedTechTalk.place}}
              <br />
              <b>City</b> : {{selectedTechTalk.city}}
              <br />
              <b>Address</b> : {{selectedTechTalk.address}}
              <br />
              <b>Venue Date</b> : {{selectedTechTalk.event_date}}
              <br />
              <b>Time</b> : {{selectedTechTalk.from_time}} TO {{selectedTechTalk.to_time}}
              <br />
              <br />

            </div>

          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Other Details</span>
              <br />
              <b>Tech Teach Topic</b> : {{selectedTechTalk.topic}}
              <br />
              <b>Tech Talk Type</b> : {{selectedTechTalk.tech_talk_type}}
              <br />
              <b>Industrial Expert</b> : {{selectedTechTalk.user_name}}
              <br />
              <b>No. of Years Experience</b> : {{selectedTechTalk.experience}}
              <br />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="cardSubHeading crd-hdng">Registration Details</span>
              <br />
              <b>Web Address</b> : {{selectedTechTalk.web_address}}
              <br />
              <b>Maximum Registration Count</b> :
              <br />
              <b>Registration Fees</b> : {{selectedTechTalk.reg_fee}} Rs Per Person
              <br />
              <b>Eligibility</b> : {{selectedTechTalk.eligibility}}
              <br />
              <b>Seat Capacity</b> : {{selectedTechTalk.seat_capacity}}
              <br />
              <br />
            </div>
          </div>
          <ul class="nav nav-pills" style="float: right;" *ngIf="!checkLoginStatus()">
            <li class="nav-item">
              <button class="nav-link btn btn-light buttonarticle"
                (click)="applyForEventTechTalk(selectedTechTalk)">Apply for the event</button>
            </li>
          </ul>

        </div>
      </div>
      <!--<div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
    </div>

  </div>
</div>