<!-- <div class="row" style="z-index: 1;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style=" width: 100%;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let imageObj of sliderContent; let i = index;" class="carousel-item" [ngClass]="{'active' : i==0 }">
        <img class="d-block w-100 sliderImageStyle" src="../assets/images/{{imageObj.imagelink}}?auto=yes&bg=666&fg=444"
          alt="{{imageObj.sliderid}} slide">

      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->
<div class="row tech-bank-filters" style="background-color: #F4F6F5; height: 4em; ">
  <div class="col-12 text1">
    <h2 class="text-center tch-m-hdng">Tech Connect Programmes</h2>
  </div>
  <button *ngIf="!checkLoginStatus()" type="button" data-toggle="modal" class="buttonarticle"
    data-target="#createTechConnectModal">Create
    Tech Connect</button>
</div>

<br />
<div id="techBankEventFilterDiv" class="row filter-divs" *ngIf="!checkLoginStatus()">

  <div class="col-md-6">

    <input type="text" class="form-control filter-input" placeholder="Search with Name.." name="techarticledetails"
      [(ngModel)]="techEventFilter.originatorname" *ngIf="showKeyword" />


    <input type="text" class="form-control filter-input" placeholder="Search with Technology.."
      name="techarticledetails" [(ngModel)]="techEventFilter.technologyname" *ngIf="showTechnology" />

    <input type="text" class="form-control filter-input" placeholder="Search with sub Technology.."
      name="techarticledetails" [(ngModel)]="techEventFilter.subtechname" *ngIf="showSubTech" />



  </div>
  <div class="col-md-6">
    <div class="row" style="font-size: 1rem;">
      <div class="col-4">
        <p (click)="selectKeyword()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showKeyword"></i> Keyword</p>
        <!-- <input type="checkbox" class="techBankEventCheckbox" name="keywordFilter" [(ngModel)]="keywordFilter"
          value="Keyword">&nbsp;Keyword -->
      </div>

      <div class=" col-4">
        <p (click)="selectTechnology()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showTechnology"></i>Technology</p>
        <!-- <input type="checkbox" name="techFilter" class="techBankEventCheckbox" [(ngModel)]="techFilter"
          value="Technology">&nbsp;Technology -->
      </div>
      <div class=" col-4">
        <p (click)="selectSubTechnology()"> <span class="radio-btns">&nbsp;</span><span
            class="white-radio">&nbsp;</span><i class="fa fa-check" *ngIf="showSubTech"></i>SubTechnology</p>
        <!-- <input type="checkbox" name="subTechFilter" class="techBankEventCheckbox" [(ngModel)]="subTechFilter"
          value="SubTechnology">&nbsp;SubTechnology -->
      </div>

    </div>
  </div>
</div>

<br />
<div class="container-fluid" style="padding: 2px;">
  <div class="row">
    <div class="col-12">
      <div class="accordion" id="accordionExample" style="margin: 0em; ">
        <div class="card" *ngFor="let techteach of techteachdetails | filterBy:techEventFilter ; let i = index; ">
          <div class="card-header" id="teachheading{{1}}" data-toggle="" attr.data-target="#teachcollapse{{i}}"
            aria-expanded="" attr.aria-controls="teachcollapse{{i}}">
            <h5 class="mb-0">
              <button *ngIf="i!=0" class="btn btn-link collapsed" type="button">
                Tech Connect
              </button>
              <button *ngIf="i==0" class="btn btn-link" type="button">
                Tech Connect
              </button>
            </h5>
          </div>

          <div id="teachcollapse{{i}}" [ngClass]="{'show' : i==0}" class="" attr.aria-labelledby="teachheading{{i}}"
            data-parent="#accordionExample">
            <div class="card-body ">
              <div class="col-12">


                <div><b class="crd-lft">Type</b> <span class="crd-ryt">: Tech Teach</span></div>
                <div><b class="crd-lft">Topic</b> <span class="crd-ryt">: {{techteach.topic}}</span></div>
                <div><b class="crd-lft">Abstract</b> <span class="crd-ryt">: {{techteach.abstract}}</span></div>
                <div><b class="crd-lft">Technology</b> <span class="crd-ryt">: {{techteach.technologyname}}</span></div>
                <div><b class="crd-lft">Sub Technology</b> <span class="crd-ryt">: {{techteach.subtechname}}</span>
                </div>
                <!-- <div><b class="crd-lft">Created on</b> <span class="crd-ryt">: {{techteach.createdon}}</span></div>
                <div><b class="crd-lft">Event on</b> <span class="crd-ryt">: {{techteach.venuedate}}</span></div>
                <div><b class="crd-lft" style="font-size: 14px;">No.of People Applied</b> <span class="crd-ryt"> :
                    {{techteach.registrationCount}}</span></div> -->
                <br />

                <span class="cardSubHeading crd-hdng">Industrial Expert</span>
                <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techteach.originatorname}}</span></div>
                <div><b class="crd-lft">Company</b> <span class="crd-ryt">:
                    {{techteach.company}}</span></div>
                <div><b class="crd-lft">Positionl</b> <span class="crd-ryt" style="font-size: 14px;">:
                    {{techteach.position}}</span></div>
                <br />

                <span class="cardSubHeading crd-hdng">Venue Details</span>
                <div><b class="crd-lft">Place</b> <span class="crd-ryt">: {{techteach.place}}</span></div>
                <div><b class="crd-lft">Address</b> <span class="crd-ryt">: {{techteach.address}}</span>
                </div>
                <div><b class="crd-lft" style="font-size: 13px;">City</b> <span class="crd-ryt">:
                    {{techteach.city}}</span></div>
                <div><b class="crd-lft">Date</b> <span class="crd-ryt">: {{techteach.venuedate}}</span></div>

                <br />

                <span class="cardSubHeading crd-hdng">Registration Details</span>

                <div><b class="crd-lft">No. of Registration</b> <span class="crd-ryt">:
                    {{techteach.registrationCount}}</span>
                </div>

                <ul class="nav nav-pills crd-btn-dv">
                  <li class="nav-item">
                    <button class="nav-link btn btn-light" style="background-color: #eaeaea;color: #4c4c4c !important;"
                      (click)="viewTechTeachDetails(techteach)" data-toggle="modal" data-target="#detailsModal">View
                      Detail's</button>
                  </li>
                  <li class="nav-item" *ngIf="!checkLoginStatus()">
                    <button class="nav-link btn btn-light" style="background-color: #FE9404; color: white !important;"
                      (click)="applyForEventTechTeach(techteach)">Apply for this event</button>
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </div>

        <div class="tech-tlk-contnr">
          <div class="card" *ngFor="let techtalkdata of techtalkdetails | filter:techEventFilter; let i = index; ">
            <div class="card-header" id="talkheading{{1}}" data-toggle="" attr.data-target="#talkcollapse{{i}}"
              aria-expanded="false" attr.aria-controls="talkcollapse{{i}}">
              <h5 class="mb-0">
                <button *ngIf="i!=0 || (i==0 && techteachdetails?.length!=0)" class="btn btn-link collapsed"
                  type="button">
                  Tech Connect
                </button>
                <button *ngIf="i==0 && techteachdetails?.length==0" class="btn btn-link" type="button">
                  Tech Connect
                </button>
              </h5>
            </div>

            <div id="talkcollapse{{i}}" [ngClass]="{'show' : i==0 && techteachdetails?.length==0}" class=""
              attr.aria-labelledby="talkheading{{i}}" data-parent="#accordionExample">
              <div class="card-body">
                <div class="col-12">

                  <div><b class="crd-lft">Type</b> <span class="crd-ryt">: Tech Talk</span></div>
                  <div><b class="crd-lft">Topic</b> <span class="crd-ryt">: {{techtalkdata.techtalktopic}}</span></div>
                  <div><b class="crd-lft">Abstract</b> <span class="crd-ryt">: {{techtalkdata.abstract}}</span></div>
                  <div><b class="crd-lft">Technology</b> <span class="crd-ryt">: {{techtalkdata.technologyname}}</span>
                  </div>
                  <div><b class="crd-lft">Sub Technology</b> <span class="crd-ryt">: {{techtalkdata.subtechname}}</span>
                  </div>

                  <!-- <div><b class="crd-lft">Created on</b> <span class="crd-ryt">: {{techtalkdata.createdon}}</span></div>
                  <div><b class="crd-lft">Event on</b> <span class="crd-ryt">: {{techtalkdata.venuedate}}</span></div>
                  <div><b class="crd-lft" style="font-size: 14px;">No.of People Applied</b> <span class="crd-ryt"> :
                      {{techtalkdata.registrationCount}}</span></div> -->
                  <br />

                  <span class="cardSubHeading crd-hdng">Industrial Expert</span>

                  <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techtalkdata.originatorname}}</span></div>
                  <div><b class="crd-lft">Company</b> <span class="crd-ryt">:
                      {{techtalkdata.company}}</span></div>
                  <div><b class="crd-lft">Positionl</b> <span class="crd-ryt" style="font-size: 14px;">:
                      {{techtalkdata.position}}</span></div>



                  <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techtalkdata.originatorname}}</span></div>
                  <div><b class="crd-lft">Contact Number</b> <span class="crd-ryt">:
                      {{techtalkdata.originatorcontactnumber}}</span></div>
                  <div><b class="crd-lft">Email</b> <span class="crd-ryt" style="font-size: 14px;">:
                      {{techtalkdata.originatoremail}}</span></div>

                  <br />

                  <span class="cardSubHeading crd-hdng">Venue Details</span>
                  <br />
                  <div><b class="crd-lft">Place</b> <span class="crd-ryt">: {{techtalkdata.place}}</span></div>
                  <div><b class="crd-lft">Address</b> <span class="crd-ryt">: {{techtalkdata.address}}</span></div>
                  <div><b class="crd-lft">City</b> <span class="crd-ryt">: {{techtalkdata.city}}</span></div>
                  <div><b class="crd-lft">Venue Date</b> <span class="crd-ryt">: {{techtalkdata.venuedate}}</span></div>



                  <span class="cardSubHeading crd-hdng">Registration Details</span>

                  <div><b class="crd-lft">No. of Registration</b> <span class="crd-ryt">:
                      {{techtalkdata.registrationCount}}</span>
                  </div>
                  <ul class="nav nav-pills crd-btn-dv">
                    <li class="nav-item">
                      <button class="nav-link btn btn-light"
                        style="background-color: #eaeaea;color: #4c4c4c !important;"
                        (click)="viewTechTalkDetails(techtalkdata)" data-toggle="modal" data-target="#detailsModal">View
                        Detail's</button>
                    </li>
                    <li class="nav-item" *ngIf="!checkLoginStatus()">
                      <button class="nav-link btn btn-light" style="background-color: #FE9404; color: white !important;"
                        (click)="applyForEventTechTalk(techtalkdata)">Apply for the event</button>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="detailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog createbank">

    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
        <span style="text-align: center; color: white; width: 100%;">
          <h4>Event Details</h4>
        </span>
        <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
          id="closeDetailsModal">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedModel=='techTeach'">
          <div class="row">
            <div class="col-4">
              <span class="cardSubHeading">Originator</span>
              <br />
              <b>Name</b> : {{selectedTechTeach.originatorname}}

              <br />
              <b>Contact Number</b> : {{selectedTechTeach.originatorcontactnumber}}
              <br />
              <b>Email</b> : {{selectedTechTeach.originatoremail}}
              <br />
            </div>
            <div class="col-4">
              <span class="cardSubHeading">Venue Details</span>
              <br />
              <b>Place</b> : {{selectedTechTeach.place}}
              <br />
              <b>City</b> : {{selectedTechTeach.city}}
              <br />
              <b>Address</b> : {{selectedTechTeach.address}}
              <br />
              <b>Venue Date</b> : {{selectedTechTeach.venuedate}}
              <br />
              <b>Time</b> : {{selectedTechTeach.fromtime}} TO {{selectedTechTeach.totime}}
              <br />
              <br />

            </div>
            <div class="col-4">
              <span style="float:right;">
                <b>Created on</b> : {{selectedTechTeach.createdon}}</span>
              <span style="float:right;">
                <b>Event on</b> : {{selectedTechTeach.venuedate}}</span>
              <span style="float:right;">
                <b>Number of people applied</b> : {{selectedTechTeach.registrationCount}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <span class="cardSubHeading">Other Details</span>
              <br />
              <b>Tech Teach Type</b> : {{selectedTechTeach.techteachtype}}
              <br />
              <b>Tech Teach Topic</b> : {{selectedTechTeach.topic}}
              <br />
              <b>Abstract</b> : {{selectedTechTeach.abstract}}
              <br />
              <b>Industrial Expert</b> : {{selectedTechTeach.speakername}}
              <br />
              <b>No. of Years Experience</b> : {{selectedTechTeach.experience}}
              <br />
              <b>Technology Name</b> : {{selectedTechTeach.technologyname}}
              <br />
              <b>Sub Technology Name</b> : {{selectedTechTeach.subtechname}}
              <br />
              <br />
            </div>
            <div class="col-4">
              <span class="cardSubHeading">Registration Details</span>
              <br />
              <b>Web Address</b> : {{selectedTechTeach.webaddress}}
              <br />
              <b>Maximum Registration Count</b> : {{selectedTechTeach.maxregcount}}
              <br />
              <b>Registration Fees</b> : {{selectedTechTeach.regfee}} Rs Per Person
              <br />
              <b>Eligibility</b> : {{selectedTechTeach.eligibility}}
              <br />
              <b>Seat Capacity</b> : {{selectedTechTeach.seatcapacity}}
              <br />
              <br />
            </div>
          </div>

          <ul class="nav nav-pills" style="float: right;" *ngIf="!checkLoginStatus()">
            <li class="nav-item">
              <button class="nav-link btn btn-light" style="background-color: #B3B3B3; color: black !important;"
                (click)="applyForEventTechTeach(selectedTechTeach)">Apply for the event</button>
            </li>
          </ul>

        </div>
        <div *ngIf="selectedModel=='techTalk'">
          <div class="row">
            <div class="col-4">
              <span class="cardSubHeading">Originator</span>
              <br />
              <b>Name</b> : {{selectedTechTalk.originatorname}}

              <br />
              <b>Contact Number</b> : {{selectedTechTalk.originatorcontactnumber}}

              <br />
              <b>Email</b> : {{selectedTechTalk.originatoremail}}
              <br />

              <br />

              <br />
            </div>
            <div class="col-4">
              <span class="cardSubHeading">Venue Details</span>
              <br />
              <b>Place</b> : {{selectedTechTalk.place}}
              <br />
              <b>City</b> : {{selectedTechTalk.city}}
              <br />
              <b>Address</b> : {{selectedTechTalk.address}}
              <br />
              <b>Venue Date</b> : {{selectedTechTalk.venuedate}}
              <br />
              <b>Time</b> : {{selectedTechTalk.fromtime}} TO {{selectedTechTalk.totime}}
              <br />
              <br />

            </div>
            <div class="col-4">
              <span>
                <b>Created on</b> : {{selectedTechTalk.createdon}}</span>
              <br />
              <span>
                <b>Event on</b> : {{selectedTechTalk.venuedate}}</span>
              <br />
              <span>
                <b>Number of people applied</b> : {{selectedTechTalk.registrationCount}}</span>
              <br />
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <span class="cardSubHeading">Other Details</span>
              <br />
              <b>Tech Teach Topic</b> : {{selectedTechTalk.techtalktopic}}
              <br />
              <b>Tech Talk Type</b> : {{selectedTechTalk.techtalktype}}
              <br />
              <b>Industrial Expert</b> : {{selectedTechTalk.speakername}}
              <br />
              <b>No. of Years Experience</b> : {{selectedTechTalk.experience}}
              <br />
            </div>
            <div class="col-4">
              <span class="cardSubHeading">Registration Details</span>
              <br />
              <b>Web Address</b> : {{selectedTechTalk.webaddress}}
              <br />
              <b>Maximum Registration Count</b> : {{selectedTechTalk.maxregcount}}
              <br />
              <b>Registration Fees</b> : {{selectedTechTalk.regfee}} Rs Per Person
              <br />
              <b>Eligibility</b> : {{selectedTechTalk.eligibility}}
              <br />
              <b>Seat Capacity</b> : {{selectedTechTalk.seatcapacity}}
              <br />
              <br />
            </div>
          </div>
          <ul class="nav nav-pills" style="float: right;" *ngIf="!checkLoginStatus()">
            <li class="nav-item">
              <button class="nav-link btn btn-light" style="background-color: #B3B3B3; color: black !important;"
                (click)="applyForEventTechTalk(selectedTechTalk)">Apply for the event</button>
            </li>
          </ul>

        </div>
      </div>
      <!--<div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
    </div>

  </div>
</div>