<div class="row tech-bank-filters" style="background-color: #F4F6F5; height: auto; ">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4 text1">
    <h2 class="text-center tch-m-hdng">Tech Connect Programmes</h2>
  </div>
  <div class="col-md-4">
    <button *ngIf="!checkLoginStatus()" type="button" data-toggle="modal" class="buttonarticle"
      data-target="#createTechConnectModal" (click)=createTech()
      style="margin:auto;display:block;float:initial;margin-top:10px;">
      Create Tech Connect</button>
  </div>
</div>

<div id="techBankEventFilterDiv" class="row filter-divs" *ngIf="!checkLoginStatus()">

  <div class="col-md-5">

    <input type="text" class="form-control filter-input" placeholder="Search with Name.." name="techarticledetails"
      [(ngModel)]="techEventFilter.user_name" *ngIf="showKeyword" />

    <select type="text" class="form-control filter-input" *ngIf="showTechnology"
      [(ngModel)]="techEventFilter.technology" name="technology_id">
      <option *ngFor="let technology of technologyList; let i = index;">
        {{technology.name}}</option>
    </select>

    <select type="text" class="form-control filter-input" *ngIf="showSubTech"
      [(ngModel)]="techEventFilter.sub_technology">
      <option *ngFor="let subtechnology of subtechnologylist; let i = index; ">{{subtechnology.name}}</option>
    </select>
  </div>
  <div class="col-md-7 fltrs">
    <div class="row" style="font-size: 1rem;">
      <div class="col-4">
        <p (click)="selectKeyword()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showKeyword"></i> Keyword</p>
        <!-- <input type="checkbox" class="techBankEventCheckbox" name="keywordFilter" [(ngModel)]="keywordFilter"
          value="Keyword">&nbsp;Keyword -->
      </div>

      <div class=" col-4">
        <p (click)="selectTechnology()"> <span class="radio-btns">&nbsp;</span><span class="white-radio">&nbsp;</span><i
            class="fa fa-check" *ngIf="showTechnology"></i>Technology</p>
        <!-- <input type="checkbox" name="techFilter" class="techBankEventCheckbox" [(ngModel)]="techFilter"
          value="Technology">&nbsp;Technology -->
      </div>
      <div class=" col-4">
        <p (click)="selectSubTechnology()"> <span class="radio-btns">&nbsp;</span><span
            class="white-radio">&nbsp;</span><i class="fa fa-check" *ngIf="showSubTech"></i>SubTechnology</p>
        <!-- <input type="checkbox" name="subTechFilter" class="techBankEventCheckbox" [(ngModel)]="subTechFilter"
          value="SubTechnology">&nbsp;SubTechnology -->
      </div>

    </div>
  </div>
</div>

<br />

<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="margin-top: 1em;">

      <div class="card card-articles tchtlk-card" style="width: 100%;"
        *ngFor="let techteach of ResponseData | filterBy:techEventFilter  ; let i = index; ">


        <div class="card-header">
          <h6 class="tech-hdng">Tech Teach</h6>
        </div>

        <div class="card-body">
          <div class="row">


            <div class="col-md-3">
              <span class="cardSubHeading crd-hdng">Tech Connect Details</span>
              <div><b class="crd-lft">Type</b> <span class="crd-ryt">: {{techteach.tech_teach_type}}</span></div>
              <div><b class="crd-lft">Topic</b> <span class="crd-ryt">: {{techteach.topic}}</span></div>
              <div *ngIf="techteach.abstract!=undefined"><b class="crd-lft">Abstract</b> <span class="crd-ryt">:
                  {{techteach.abstract}}</span></div>
              <div><b class="crd-lft">Technology</b> <span class="crd-ryt">: {{techteach.technology}}</span></div>
              <div *ngIf="techteach.sub_technology!=null"><b class="crd-lft">Sub Technology</b> <span class="crd-ryt">:
                  {{techteach.sub_technology}}</span>
              </div>
            </div>

            <div class="col-md-3">
              <span class="cardSubHeading crd-hdng">Speaker Details</span>
              <div><b class="crd-lft">Name</b> <a [routerLink]="['/myprofile',techteach.user_id]"
                  style="color: black"><span class="crd-ryt">: {{techteach.expert_name}}</span></a></div>
              <div><b class="crd-lft">Company</b> <span class="crd-ryt">:
                  {{techteach.company}}</span></div>
              <div><b class="crd-lft">Positionl</b> <span class="crd-ryt" style="font-size: 14px;">:
                  {{techteach.position}}</span></div>
            </div>

            <div class="col-md-3">
              <span class="cardSubHeading crd-hdng">Venue Details</span>
              <div><b class="crd-lft">Place</b> <span class="crd-ryt">: {{techteach.place}}</span></div>
              <div><b class="crd-lft">Address</b> <span class="crd-ryt">: {{techteach.address}}</span>
              </div>
              <div><b class="crd-lft" style="font-size: 13px;">City</b> <span class="crd-ryt">:
                  {{techteach.city}}</span></div>
              <div><b class="crd-lft">Date</b> <span class="crd-ryt">: {{techteach.event_date}}</span></div>
            </div>

            <div class="col-md-3">
              <span class="cardSubHeading crd-hdng">Registration Details</span>

              <div><b class="crd-lft">Number of People Applied</b> <span class="crd-ryt">:
                  {{techteach.no_of_users_applied}}</span>
              </div>

              <ul class="nav nav-pills crd-btn-dv">
                <li class="nav-item">
                  <button class="nav-link btn btn-light buttonarticle" (click)="viewTechTeachDetails(techteach)"
                    data-toggle="modal" data-target="#detailsModal">More Detail's</button>
                </li>
                <li class="nav-item" *ngIf="!checkLoginStatus()">
                  <button class="nav-link btn btn-light buttonarticle" (click)="applyForEventTechTalk(techteach)">Apply
                    for this event</button>
                </li>
              </ul>

            </div>

          </div>
        </div>
      </div>


      <div class="card card-articles tchtlk-card" style="width: 100%;"
        *ngFor="let techtalkdata of techtalkdetails | filterBy:techEventFilter; let i = index; ">


        <div class="card-header">
          <h6 class="tech-hdng">Tech Talk</h6>
        </div>

        <div class="card-body">
          <div class="row">

            <div class="col-md-3">
              <span class="cardSubHeading crd-hdng">Tech Connect Details</span>
              <div><b class="crd-lft">Type</b> <span class="crd-ryt">: {{techtalkdata.tech_talk_type}}</span></div>
              <div><b class="crd-lft">Topic</b> <span class="crd-ryt">: {{techtalkdata.topic}}</span></div>
              <div *ngIf="techtalkdata.abstract!=undefined"><b class="crd-lft">Abstract</b> <span class="crd-ryt">:
                  {{techtalkdata.abstract}}</span></div>
              <div><b class="crd-lft">Technology</b> <span class="crd-ryt">: {{techtalkdata.technology}}</span></div>
              <div *ngIf="techtalkdata.sub_technology!=null"><b class="crd-lft">Sub Technology</b> <span
                  class="crd-ryt">:
                  {{techtalkdata.sub_technology}}</span>
              </div>
            </div>

            <div class="col-md-3">
              <span class="cardSubHeading crd-hdng">Speaker Details</span>
              <div><b class="crd-lft">Name</b> <span class="crd-ryt">: {{techtalkdata.expert_name}}</span></div>
              <div><b class="crd-lft">Company</b> <span class="crd-ryt">:
                  {{techtalkdata.company}}</span></div>
              <div><b class="crd-lft">Position</b> <span class="crd-ryt" style="font-size: 14px;">:
                  {{techtalkdata.position}}</span></div>
              <div><b class="crd-lft">Email</b> <span class="crd-ryt" style="font-size: 14px;">:
                  {{techtalkdata.contact_email}}</span></div>
              <div><b class="crd-lft">Contact</b> <span class="crd-ryt"
                  style="font-size: 14px;">:{{techtalkdata.contact_number}}</span></div>
            </div>

            <div class="col-md-3">
              <span class="cardSubHeading crd-hdng">Venue Details</span>
              <div><b class="crd-lft">Place</b> <span class="crd-ryt">: {{techtalkdata.place}}</span></div>
              <div><b class="crd-lft">Address</b> <span class="crd-ryt">: {{techtalkdata.address}}</span>
              </div>
              <div><b class="crd-lft">City</b> <span class="crd-ryt">:
                  {{techtalkdata.city}}</span></div>
              <div><b class="crd-lft">Date</b> <span class="crd-ryt">: {{techtalkdata.event_date}}</span></div>
            </div>

            <div class="col-md-3">
              <span class="cardSubHeading crd-hdng">Registration Details</span>

              <div><b class="crd-lft">Number of People Applied</b> <span class="crd-ryt">:
                  {{techtalkdata.no_of_users_applied}}</span>
              </div>
              <ul class="nav nav-pills crd-btn-dv">
                <li class="nav-item">
                  <button class="nav-link btn btn-light  buttonarticle" (click)="viewTechTalkDetails(techtalkdata)"
                    data-toggle="modal" data-target="#detailsModal">More Detail's</button>
                </li>
                <li class="nav-item" *ngIf="!checkLoginStatus()">
                  <button class="nav-link btn btn-light buttonarticle"
                    (click)="applyForEventTechTalk(techtalkdata)">Apply for the event</button>
                </li>
              </ul>

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>





  <!-- Modal -->
  <div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog createbank">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header" style="background-color: #33099e; text-align: center; align-items: center;">
          <span style="text-align: center; color: white; width: 100%;">
            <h4>Event Details</h4>
          </span>
          <button style="float: right; color: white;" type="button" class="close" data-dismiss="modal"
            id="closeDetailsModal">&times;</button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedModel=='techTeach'">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <span>
                  <b>Created on</b> : {{selectedTechTeach.created_time}}</span>
                &nbsp;&nbsp;&nbsp; <span>
                  <b>Event on</b> : {{selectedTechTeach.event_date}}</span>
                &nbsp;&nbsp;&nbsp; <span>
                  <b>Number of people applied</b> : {{selectedTechTeach.no_of_users_applied}}</span>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="cardSubHeading crd-hdng">Originator</span>
                <br />
                <b>Name</b> : {{selectedTechTeach.user_name}}

                <br />
                <b>Contact Number</b> :{{selectedTechTeach.contact_number}}

                <br />
                <b>Email</b> :{{selectedTechTeach.contact_email}}
                <br />
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="cardSubHeading crd-hdng">Venue Details</span>
                <br />
                <b>Place</b> : {{selectedTechTeach.place}}
                <br />
                <b>City</b> : {{selectedTechTeach.city}}
                <br />
                <b>Address</b> : {{selectedTechTeach.address}}
                <br />
                <b>Venue Date</b> : {{selectedTechTeach.event_date}}
                <br />
                <b>Time</b> : {{selectedTechTeach.from_time}} TO {{selectedTechTeach.to_time}}
                <br />
                <br />

              </div>

            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                <span class="cardSubHeading crd-hdng">Other Details</span>
                <br />

                <b>Tech Teach Type</b> : {{selectedTechTeach.tech_teach_type}}
                <br />
                <b>Tech Teach Topic</b> : {{selectedTechTeach.topic}}
                <br />
                <b>Abstract</b> :<span style="word-wrap: break-word"> {{selectedTechTeach.abstract}}</span>
                <br />
                <b>Speaker Details</b> : {{selectedTechTeach.expert_name}}
                <br />
                <b>No. of Years Experience</b> : {{selectedTechTeach.experience}}
                <br />
                <b>Technology Name</b> : {{selectedTechTeach.technology}}
                <br />
                <b>Sub Technology Name</b> : {{selectedTechTeach.sub_technology}}
                <br />
                <br />
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="cardSubHeading crd-hdng">Registration Details</span>
                <br />
                <b>Web Address</b> : {{selectedTechTeach.web_address}}
                <br />
                <b>Maximum Registration Count</b> : {{selectedTechTeach.maxregcount}}
                <br />
                <b>Registration Fees</b> : {{selectedTechTeach.reg_fee}} Rs Per Person
                <br />
                <b>Eligibility</b> : {{selectedTechTeach.eligibility}}
                <br />
                <b>Seat Capacity</b> : {{selectedTechTeach.seat_capacity}}
                <br />
                <br />
              </div>
            </div>

            <ul class="nav nav-pills" style="float: right;" *ngIf="!checkLoginStatus()">
              <li class="nav-item">
                <button class="nav-link btn btn-light buttonarticle"
                  (click)="applyForEventTechTeach(selectedTechTeach)">Apply for the event</button>
              </li>
            </ul>

          </div>
          <div *ngIf="selectedModel=='techTalk'">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <span>
                  <b>Created on</b> : {{selectedTechTalk.created_time}}</span>
                &nbsp;&nbsp;&nbsp;
                <span>
                  <b>Event on</b> : {{selectedTechTalk.event_date}}</span>
                &nbsp;&nbsp;&nbsp;
                <span>
                  <b>Number of people applied</b> : {{selectedTechTalk.no_of_users_applied}} </span>

              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="cardSubHeading crd-hdng">Originator</span>
                <br />
                <b>Name</b> : {{selectedTechTalk.user_name}}

                <br />
                <b>Contact Number</b> :

                <br />
                <b>Email</b> :
                <br />

                <br />

                <br />
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="cardSubHeading crd-hdng">Venue Details</span>
                <br />
                <b>Place</b> : {{selectedTechTalk.place}}
                <br />
                <b>City</b> : {{selectedTechTalk.city}}
                <br />
                <b>Address</b> : {{selectedTechTalk.address}}
                <br />
                <b>Venue Date</b> : {{selectedTechTalk.event_date}}
                <br />
                <b>Time</b> : {{selectedTechTalk.from_time}} TO {{selectedTechTalk.to_time}}
                <br />
                <br />

              </div>

            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="cardSubHeading crd-hdng">Other Details</span>
                <br />
                <b>Tech Teach Topic</b> : {{selectedTechTalk.topic}}
                <br />
                <b>Tech Talk Type</b> : {{selectedTechTalk.tech_talk_type}}
                <br />
                <b>Speaker Details</b> : {{selectedTechTalk.expert_name}}
                <br />
                <b>No. of Years Experience</b> : {{selectedTechTalk.experience}}
                <br />
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="cardSubHeading crd-hdng">Registration Details</span>
                <br />
                <b>Web Address</b> : {{selectedTechTalk.web_address}}
                <br />
                <b>Maximum Registration Count</b> :
                <br />
                <b>Registration Fees</b> : {{selectedTechTalk.reg_fee}} Rs Per Person
                <br />
                <b>Eligibility</b> : {{selectedTechTalk.eligibility}}
                <br />
                <b>Seat Capacity</b> : {{selectedTechTalk.seat_capacity}}
                <br />
                <br />
              </div>
            </div>
            <ul class="nav nav-pills" style="float: right;" *ngIf="!checkLoginStatus()">
              <li class="nav-item">
                <button class="nav-link btn btn-light buttonarticle"
                  (click)="applyForEventTechTalk(selectedTechTalk)">Apply for the event</button>
              </li>
            </ul>

          </div>
        </div>
        <!--<div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
      </div>

    </div>
  </div>