.techBankEventCheckbox{
    
  cursor: pointer;
}

.card-header{
    background-color: #33099e;
    color: white;
    padding: -0.25rem 1.25rem !important;
}

.btn-link{
    color: white;
    font-size: 1.5rem;
    font-style: unset;
}

.cardSubHeading{
    font-size: 1.2rem;
    color: #292929;
    background: #ffff42;
    margin: 5px auto;
    text-align: center;
    font-weight: 500;
    padding: 5px 0px;
}

.createbank{
    max-width : 70% !important;
}
.text1{
    margin: 0.4em;
}

.tech-bank-filters h2{
    color: #3e0aa5;
        margin-top: 11px;
    }

    .filter-divs
{
    margin-top: 80px;
}

.buttonarticle{
    margin: auto;
    display: block;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin-top: 45px;
    color: white !important;
    height: 41px;
        padding: 0 11px;
        font-size: 66px;
        font-size: 17px;
        margin-top: 19px;
        border-radius: 33px;
        color: #ffff;
        background: rgba(51,9,158,1);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,9,158,1)), color-stop(47%, rgba(51,9,158,1)), color-stop(100%, rgba(192,39,230,1)));
        background: linear-gradient(to right, rgba(51,9,158,1) 0%, rgba(51,9,158,1) 47%, rgba(192,39,230,1) 100%);
    }

    .radio-btns{
        background: #33099e;
        width: 20%;
        padding: 8px;
        border-radius: 48px;
        padding-top: 0px;
        padding-bottom: 0px;
        cursor: pointer;
        }

        .fa-check{
            position: absolute;
            left: 17px;
            top: 4px;
            color: white;
        }

@media only screen and (max-width: 768px) {
    .createbank{
        max-width : 100% !important;
    }
    .text1{
        margin: 0.4em;
        font-size: 25px;
    }
}

@media only screen and (max-width: 480px) {
    .createbank{
        max-width : 100% !important;
    }
    .text1{
        margin: 0.4em;
        font-size: 25px;
    }
}

/***********newcode******/

.crd-hdng, .crd-btn-dv, .tech-tlk-contnr{
    float: left;
    width: 100%;
}
.crd-btn-dv{
    margin: 15px auto;
}
.crd-lft{
    float: left;
    width: 40%;
}
.crd-ryt {
    float: right;
    width: 60%;
}

.accordion .card {
    width: 33%;
    float: left;
    margin: 18px 2px;
    border: 1px solid #33099e87!important;
}
.accordion .card .col-12 div {
    float: left;
    width: 100%;
    padding: 3px 0px;
}
h5 button.btn.btn-link.collapsed {
    text-decoration: none;
    cursor: initial;
}

/*****************media quaries**************************/
 @media screen and (min-width: 320px) and (max-width: 567px) {
    .col-12{
         padding: 0;
     }
    .accordion .card {
        width: 100%;
        float: left;
        margin: 18px 0px;
    }
    .tch-m-hdng{
        font-size: 22px;
    }
    .card-body{
        padding: 8px 2px;
    }
 }
 
 @media screen and (min-width: 360px) and (max-width: 539px) {

 }
 
 @media screen and (min-width: 460px) and (max-width: 767px) {}
 
 @media only screen and (min-width: 540px) and (max-width: 767px) {
    .accordion .card {
        width: 49%;
        float: left;
        margin: 18px 1px;
    }
    .card-body{
        padding: 8px 2px;
    }
 }
 
 @media only screen and (min-width: 768px) and (max-width: 959px) {
    .accordion .card {
        width: 49%;
        float: left;
        margin: 10px 3px;
    }
    .card-body{
        padding: 8px 2px;
    }
 }
 
 @media only screen and (min-width: 799px) and (max-width: 960px) {}
 
 @media only screen and (min-width: 960px) and (max-width: 1023px) {}
 
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {}
 
 @media only screen and (min-width: 1280px) and (max-width: 1365px) {}
 
 @media screen and (max-width: 1600px) {}